<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <span class= 'question_sequence'>
      <% if seq_score.nil? %>
      <span class="no_thumb"></span>
      <% elsif seq_score < 60 -%>
          <span class="down_thumb"></span>
      <% elsif seq_score > 80 -%>
          <span class="up_thumb"></span>
      <% else %>
          <span class="no_thumb"></span>
      <% end -%>
    </span>
  </div>
  <div class="col-md-4">
    <span class= 'question_align'>
      <% if align_score.nil? %>
      <span class="no_thumb"></span>
      <% elsif align_score < 60 -%>
          <span class="down_thumb"></span>
      <% elsif align_score > 80 -%>
          <span class="up_thumb"></span>
      <% else %>
          <span class="no_thumb"></span>
      <% end -%>
    </span>
  </div>
  <div class="col-md-2"></div>
</div>
