<div id="ifa_question_repo" class="repo_box">
  <div class= 'row panel_title_blue'>
    Add <%= @current_application.app_name(:provider=>@current_provider) %> Question
  </div>
  <hr>
  <%= render :partial => 'create_question_selects' %>
  <%#= render :partial =>  "manage_standard", :locals=>{}%>
</div>