 <!-- start button -->
  <tr>
    <td class='env_button' align="center">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class='env_button_green'>
            <span rel="noopener noreferrer">
              <%= link_to (school_name + " SAT/ACT Prep Login"), organization_view_url(:organization_id => school, :host => ep_host ) %>
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
