<div class="ifa_plan_teacher_milestones_box ">
  <div class= "precision_prep_panel">
    <div class="ifa_plan_header_label">
      <%= pluralize(plan.milestones.size, ' Student Milestone') %>
    </div>
  </div>
  <div class="ifa_plan_teacher_milestones">
    <% milestones.each do |milestone|%>
      <div class="ifa_milestone_box">
        <%= render :partial =>  "/ifa/ifa_plan/teacher_show_milestone", :locals=>{:milestone => milestone} %>
      </div>
    <% end %>
  </div>
</div>


