<div class="ifa_plan_teacher_milestones_box ">
  <div class= "precision_prep_panel">
    <div class="ifa_plan_header_label">
      <%= pluralize(plan.milestones.size, ' Student Milestone') %>
    </div>
  </div>
  <div class="ifa_plan_teacher_milestones">
    <% milestones.each do |milestone|%>
      <div class="ifa_milestone_box">
        <%= render :partial =>  "/ifa/ifa_plan/teacher_show_milestone", :locals=>{:milestone => milestone,
                                                                                  :milestone_benchmarks => @plan_benchmarks[hash_key(milestone.range, milestone.strand)], :milestone_suggestions => @plan_suggestions[hash_key(milestone.range, milestone.strand)],
                                                                                  :milestone_examples => @plan_examples[hash_key(milestone.range, milestone.strand)], :milestone_evidence => @plan_evidence[hash_key(milestone.range, milestone.strand)]} %>
      </div>
    <% end %>
  </div>
</div>


