<div id="ifa_question_repo" class="repo_box">
  <% if !@current_evidence.nil? %>
    <div class= 'row'>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <%= render :partial =>  "form_milestone_evidence", :locals=>{:milestone => @current_milestone, :function => @function}%>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% else %>
    <div class= 'row panel_title_blue'>
      No <%= @current_application.app_name(:provider=>@current_provider) %> Evidence Identified
    </div>
  <% end %>
</div>