<div  id="video_show">
	<% if session && session.tlt_session_video -%>
		<table id="video_level"  style="width:450px; color: #000000;">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
						<%= link_to '', ctl_observation_video_show_path(:organization_id => @current_organization, :tlt_session_id => session) %>
						View Session Video
					  <span></span>
					</td>
				</tr>
			</tbody>
		</table>
	<% end -%>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#video_level .resource_levels_close').toggleResourceLevels();
	jQ('#video_level .resource_levels_open').toggleResourceLevels();	
});
</script>
</div>


