<div class="row">
  <div class="col-md-12 log_panel_entry">
		<%= render :partial => "/apps/panel/tlt_activity_log", :locals => {:tl_session => @tlt_session, :observer => @observer_update}%>
	</div>
</div>