<div >

	    <%= render :partial => "/apps/time_learning/research_summary_display", :locals => {:session => @session, :task_list => @task, :header=> @header, :views => @res_views, :irr=>@irr, :color_key => @colors}  %>

</div>