<div>
	<% unless @itl_template.nil? -%>
		<% @itl_template.app_methods.each do |method| -%>
			<table style="margin-left:0px;  width:640px; border:0px solid #ddd; font-weight:bold;  color: #2061a5;">
	 				<% method.tl_activity_types.by_position.each do |activity| -%>
				 		<% tasks = (activity.tl_activity_type_tasks.enabled - @itl_template.tl_activity_type_tasks).uniq.sort_by{|t| t.position} -%>
						<% unless tasks.empty? -%>
							<tr>
								<td  style="width:150px; width:fixed; vertical-align:top; text-align:center; padding-bottom:0px; padding-top:0px; font-size:10px">
									<strong><%= activity.activity %></strong><br/>
									<span style = "font-size:10px">
										<%=pluralize(tasks.size, " " + method.task_name)%>
									</span>							
								</td>
								<td  style="width:450px; width:fixed; vertical-align:top; text-align:left; padding-left:10px; padding-top:0px; font-size:10px">
									<% tasks.each do |task| %>
										<span style = "color:#C83A14">
											<%= task.name %>:&nbsp; 
										</span>
										<span style = "font-size:10px">
											<%=task.description %>
										</span>	<br/>
									<% end -%>						
								</td>
							</tr>
				 		<% end -%>
				 	<% end -%>
				</tbody>
			</table>
		 <% end -%>
	<% end -%>
</div>
