<div id="main_content" >


<div id="survey_page" >	


<% form_for(:tlt_session, :url => {:controller => "/apps/time_learning", :action => :take_tlt_survey, :organization_id => @current_organization, :user_id => @current_user, :tlt_survey_audience_id => @audience, :tlt_session_id => @tlt_session, :classroom_id => @classroom, :function => "submit"}) do |form| -%>

	<%= render :partial => "/apps/shared/survey_template", :locals=> {:audience => @audience, :survey_type => @survey_type} %>

<%= submit_tag "Submit Survey", :confirm => "Are You Sure?", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
<% end -%>
<br/><br>
	<span style="color: #C83A14; text-align:center; font-size:12px;">
		<center>Please consider your opinions thoughtfully .<br/>
		Please explain them, using examples if possible.</center>	
	</span>
	<span style="color: #C83A14; text-align:center; font-size:18px;">
		<br/><br/><br/><br/><br/>
		<center>Thank You Very Much!</center>
		<br/><br/>
	</span>
</div>

</div>

