<div class="panel_row">
  <div class="row">
    <hr>
      <div class="col-md-2">
      <div class="panel-palette_1">
        <div class="panel-heading">
          <h4 style="text-align: center;">test Heading</h4>
        </div>
          Test Content
      </div>
      <div class="col-md-1">
        <i class="glyphicon glyphicon-hand-right"></i>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-palette_2">
        <div class="panel-heading">
          <h4 style="text-align: center;">2222 Heading</h4>
        </div>
        Test 222222
      </div>
      <div class="col-md-1">
        <i class="glyphicon glyphicon-hand-right"></i>
      </div>
    </div>
  </div>
</div>
<div class="panel_row">
  <div class="row" id="row_2">
    <hr>
    <div class="col-md-4">
      <div >
        <div class="panel-heading panel-palette_2">
          <h4 style="text-align: center;">test Heading</h4>
        </div>
        Test Content
      </div>
    </div>
    <div class="col-md-4">
      <div >
        <div class="panel-heading panel-palette_4">
          <h4 style="text-align: center;">666 Heading</h4>
        </div>
        Test 666
      </div>
      <span>
        <i class="glyphicon glyphicon-hand-right"></i>
      </span>
    </div>
    <div class="col-md-4">
      <div class="panel-palette_5">
        <div class="panel-heading">
          <h4 style="text-align: center;">333333 Heading</h4>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip Text">
        Tooltip on bottom
      </button>
      <a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
      <!-- Generated markup by the plugin -->
      <div class="tooltip top" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          Some tooltip text!
        </div>
      </div>

    </div>
  </div>
</div>