<div class="Form_Row">
  <div class="Form_Row_Title">
    Description:
  </div>
  <div class="Form_Row_Data">
    <%= text_area :elt_std_indicator, :description, :value => @indicator.description, :rows => 2, :cols => 65  %>
  </div>
</div>
<div class="Form_Row">
  <div class="Form_Row_Title">
    Display Position:
  </div>
  <div class="Form_Row_Data">
    <%= text_field :elt_std_indicator, :position, :value => @indicator.position,  :size => 1, :maxlength => 2 %>
  </div>
</div>