<div id="main_content">
  <div style="text-align:center;  padding-top:10px; word-wrap:break-word; color: #C83A14;  font-size: 16px; font-style: normal; font-weight: bold">
    <%= @current_organization.provider_app_name(@current_application) %> Standards
  </div>
  <div style="float:none;width:96%;" class="mempro_box clear">
    <div id="centerpane_appl">
      <span class="fsn-button ui-button ui-state-default ui-corner-all">
        <%= link_to 'Create New Standard', elt_config_standard_edit_path(:organization_id => @current_organization,:task=>'New' ),{:target=>'_blank'}  %>
      </span>
    </div>
    <div style="width:780px; border:0px solid #ddd; ">
      <%= render :partial => "manage_standards" %>
    </div>
  </div>
</div>
