<div class='container'>
  <div class= 'row, panel_title_blue'>
    <%= @current_organization.short_name %>&nbsp;Standards
  </div>

  <%= render :partial => "/shared/error_and_notice" %>

  <div class="Form clear">
    <%= render :partial => "/apps/learning_time_standards/form_standard", :locals=>{:org=>@current_organization} %>
  </div>
  <% unless @task == 'New' %>
      <%= render :partial => "/apps/learning_time/activate_rubric", :locals=>{:entity => @standard} %>
  <% end %>
</div>