
  <% partial = 'search_results_' +  search_type.downcase %>
  <%= render :partial => partial, :locals => {:items => items, :items_size => items_size, :keywords => keywords} %>
  <div class="digg_pagination">
    <%= will_paginate @items_found, :params => {:organization_id=> @current_organization.public_id, :keywords => keywords, :page_search => search_type } %>
  </div>

<!--
<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('div.pagination a').live('click', function() {
      jQ("#search-result").load(this.href);
      return false
    })
  });
</script>
-->

