<div class="search_box">
  <div id="search-result" class="clear">
    <%= render :partial => 'search_filters', :locals => {:items => @items_found, :items_size => @items_size,
                                                         :search_type => @search_type, :keywords => @keywords, :results_page => @page} %>
    <%= render :partial => 'search_results', :locals => {:items => @items_found, :items_size => @items_size,
                                                       :search_type => @search_type, :keywords => @keywords} %>
  </div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('div.pagination a').live('click', function() {
        jQ("#search-result").load(this.href);
        return false
      })
    });
  </script>
</div>