<div id="options">
	<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold"> 
		<strong><center> <%= @current_organization.medium_name %> <%= @app.name.titleize %> Options</center></strong>
	</div>



	
<br/>			




</div>
