<div id="manage_staff">
		
	    <%= render :partial => "/shared/error_and_notice" %>

	There are&nbsp;<%= @current_organization.staff_consultants.size -%>&nbsp;<%=@current_organization.nickname %>&nbsp;Staff Consultants

</div>





