<div style="padding-bottom:0px;">
	<%- if @current_organization.logo.file? -%>
		<%= image_tag(@current_organization.logo.url) -%>
  <%- end -%>
</div>

<%- unless @current_organization.body.nil? -%>
  <div class="normal_text" style="padding-top:7px">
    <strong><i><%= to_br(@current_organization.body)%></i></strong>
  </div>
<%- end -%>