
<div style = "font-size:12px; color: #000000;padding-left:10px;">

	<%= render :partial => "manage_classroom_resources" %>

</div>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('input.add_resource').click(function() {
			var $this = jQ(this);
			var url = $this.parents("form").attr("action");
			jQ.post(url, function(data) {
				$this.parents("tr").remove();
				jQ('.flash_notice').html(data).css("display", "block");
			})
			return false;
		})
	})
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>
