<div class="mempro_box" style="text-align:right; width:860px">
  <div style="text-align:left;">
      <strong>Content Upload</strong> <br />
  </div>
  <div>
  	Thank you, your content has successfully been submitted and will be reviewed by an Administrator.
  </div>
  <div>
  	<%= link_to 'Back', :controller => "/site/site", :action => :index, :organization_id => @current_organization %>
  </div>
</div>