<style type="text/css" media="screen">
    .warp_content {
        padding: 0;
        background-color: transparent;
    }
</style>

<div id="iwcontent">
    <div id="leftpane">
        <div id="affiliate_information" class="module">

        </div>
        <div id="call_to_action" class="module">
            <div class="module_header">
                <span class="content_area_title">TAKE ACTION</span>
            </div>
        </div>
    </div>
    <div id="rightpane">

    </div>
</div>
