<style type="text/css" media="screen">
    .warp_content {
        padding: 0;
        background-color: transparent;
    }
</style>
<script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
        //jQ("#call_to_action").addImageShadow();
        //jQ("#followup").addImageShadow();
    })
</script>
<div id="mainContent">
	<% button_label = "Download" %>
	<% past_verb = "View" %>
	<% unless @content.content_object_type.nil? -%>
		<% if [4,2,1].include?(@content.content_object_type.content_object_type_group_id)%><% button_label = "View"%> <% past_verb = "View" %> <% end %>
		<% if [3].include?(@content.content_object_type.content_object_type_group_id)%><% button_label = "Listen"%><% past_verb = "Listen"%> <% end %>
		<% if [5].include?(@content.content_object_type.content_object_type_group_id)%><% button_label = "View Link"%> <% past_verb = "View"%><% end %>
	<% end -%>
<!-- ALK:  Tabled Container because I screwed up the CCS container, and can't get it to work for all browsers.  -->

	<table style="width:94%; margin:0; border:0px solid #ddd;vertical-align:top;">
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
		</style>
		<tbody>  
			<tr  style="border:0px solid #ddd;" >
				<td style="width:35%; width:fixed; margin-left:0px; border-right:1px dashed #ddd;vertical-align:top;">
          <div id="leftpane_res">
              <%= render :partial => "site/site/static_resource_left", :locals=> {:content => @content} %>
          </div>
				</td>
				<td style=" width:65%; width:fixed; margin-left:0px; border:0px solid #ddd;vertical-align:top;">
          <div id="rightpane_res">
            <%= render :partial => "site/site/static_resource_right", :locals=> {:content => @content} %>
            <div style="float:left; width:400px;font-size:12px; word-wrap:break-word; text-align:center; font-weight:normal; color:#000000;">
              <br style="clear:both">
              <%= render(:partial => "resource") %>
            </div>

          </div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
