/* -------------------------------------------------------------- 
   general.css
   * Sets up some class or id style for every page used.
-------------------------------------------------------------- */

	.MasterItemHeaderDiv{
		background-color:#3366AA;
		color:#FFFFFF;
		font-size:14pt;
		font-weight:bold;
		padding:5px;
		margin-top:10px;
	}
