
<% if plan_type && plan_type.rubric?-%>
	<table id="plan_header" style="width:500px;  margin-top:0px; margin-left:60px; border:0px solid black;">
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
       	background-color: inherit;
     	}
	   	</style>
		<tbody> 
			<tr>
				<td id="plan_show" style = " border:0px solid #000000; color: #2061a5; cursor:pointer; vertical-align:middle; text-align:left; padding-bottom:10px; padding-left:5px; font-size:11px ">
					> <u>Show Action Plan Rubric</u>
				</td>
			</tr>			
		</tbody>
	</table>
	<table id="plan_descript" style="width:500px; width-fixed; margin-left:60px; border:0px solid black;">
		<style type="text/css" media="screen">
	    table,tr,td { border:none}
		table tr:hover{
       	background-color: inherit;
     	}
	   	</style>
		<tbody> 			
			<tr  style="border:0px solid #000000;">
				<td id="plan_hide" style = " width:50px; width:fixed; border:0px solid #000000; vertical-align:top; font-size:11px; font-weight:normal; cursor:pointer; color: #2061a5;">								
					> <u>Hide</u>
				</td>
				<td >
					<table>
						<tbody>
							<% plan_type.rubrics.active.each do |rubric| -%>
								<tr >
									<td style = "font-size:11px; color:<%=rubric.color_font %>; background:<%=rubric.color_background%>">
										<strong><%=rubric.name %></strong>:&nbsp;<%= rubric.criteria %>
									</td>
								</tr>
							<% end -%>
						</tbody>
					</table>
				</td>
			</tr>	
		</tbody>
	</table>
<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#plan_header").show();
		  jQ("#plan_descript").hide();		  

	jQ("#plan_show").click(function() {
		  	jQ("#plan_header").slideUp("slow");	 
	   		jQ("#plan_descript").slideDown("slow");
	})

	jQ("#plan_hide").click(function() {
	   		jQ("#plan_descript").slideUp("slow");
	   		jQ("#plan_header").show();
	})	
});
</script>
<% end -%>

