
			<% if activity && activity.rubric?-%>
				<table id="rubric_header" style="width:600px;  margin-top:0px; margin-left:60px; border:0px solid black;">
					<style type="text/css" media="screen">
				    table,tr,td { border:medium}
					table tr:hover{
		 	       	background-color: inherit;
		 	     	}
		 		   	</style>
					<tbody> 
						<tr>
							<td id="rubric_show" style = " border:0px solid #000000; color: #2061a5; cursor:pointer; vertical-align:middle; text-align:left; padding-bottom:10px; padding-left:5px; font-size:11px ">
								> <u>Show Scoring Rubric</u>
							</td>
						</tr>			
					</tbody>
				</table>
				<table id="rubric_descript" style="width:600px;  margin-left:60px; border:0px solid black;">
					<style type="text/css" media="screen">
				    table,tr,td { border:none}
					table tr:hover{
		 	       	background-color: inherit;
		 	     	}
		 		   	</style>
					<tbody> 			
						<tr  style="border:0px solid #000000;">
							<td id="rubric_hide" style = " width:90px; width:fixed; border:0px solid #000000; vertical-align:middle; font-size:11px; font-weight:normal; cursor:pointer; color: #2061a5;">								
								> <u>Hide Rubric</u>
							</td>
							<td class="app_report_rubric_1" style = "width:510px; width:fixed; border:1px solid #000000;">								
								Scoring Rubric
							</td>
						</tr>
						<% activity.rubrics.all.each do |rubric| -%>
							<tr style="border:1px solid #000000;">
								<td  style = " width:90px; width:fixed; font-size: 12px; text-align:left; vertical-align:middle; padding-left:5px; line-height: 1.5em; background:#f79546; color:#ffffff; font-weight:strong;">
									
										<%= rubric.abbrev %>:&nbsp;<%= rubric.name %><br/>
										<span style="font-size:12px">Score:&nbsp;<%= rubric.score %></span>
									
								</td>
								<td style = "width:510px; width:fixed;">
									<div class="app_report_rubric_3">
										<%= simple_format rubric.criteria %>
									</div>
								</td>
							</tr>
						<% end-%>	
					</tbody>
				</table>
<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#rubric_header").show();
		  jQ("#rubric_descript").hide();		  

	jQ("#rubric_show").click(function() {
		  	jQ("#rubric_header").slideUp("slow");	 
	   		jQ("#rubric_descript").slideDown("slow");
	})

	jQ("#rubric_hide").click(function() {
	   		jQ("#rubric_descript").slideUp("slow");
	   		jQ("#rubric_header").show();
	})	
});
</script>
			<% end -%>

