
<div class="appreport_box_warp" >

<% if @report == "SD" -%>
        <%= render :partial => "/apps/app_report/elt_school_diag", :locals => {:provider => @provider, :app => @app, :school => @school, :cycl => @cycle, :activity => @activity} -%>
    <% elsif @report == "CD" -%>
        <%= render :partial => "/apps/app_report/elt_cycle_diag", :locals => {:provider => @provider, :app => @app, :cycle => @cycle, :activity => @activity} -%>
    <% elsif @report == "ND" -%>
        <%= render :partial => "/apps/app_report/elt_network_diag", :locals => {:provider => @provider, :app => @app, :activity => @activity} -%>
    <% elsif @report == "AC" -%>
      <%= render :partial => "/apps/app_report/elt_school_sched", :locals => {:provider => @provider, :app => @app, :school => @school, :cycle => @cycle} -%>
  <% end -%>
	<br style="clear:both" />	

</div>

