<p>You have requested a new Escent password.</p>
<p>Your Escent ID is <%= @user.email_address %></p>
<p>Your new password is <strong><%= @password %></strong></p>
<p>Clicking <%= link_to "HERE", organization_view_url(:organization_id => @organization,:host => @ep_host )%>
will bring you to <%= @organization.name %> home page where you can sign-in with you new password.</p>
<p>After signing in, please change your password to something more memorable by selecting "My Profile>Edit" in the upper-left of the header bar.</p>

