<div class="formBoxresource">
	<h2>Add a Content</h2>
	<% form_for :content do %>
	<%= render :partial => "form" %>
	<p>
		<%= submit_tag "Add", :class => "submit fsn-button ui-button ui-state-default ui-corner-all" %> 
		<button class="change fsn-button ui-button ui-state-default ui-corner-all">Change</button>
	</p>
	<% end %>	
</div>