<h2>Organization list</h2>

<table>
	<thead>
		<tr>
			<th style="width:40%">Name</th>
			<th style="width:20%"># of Active Classrooms
			<th style="width:40%"></th>
		</tr>		
	</thead>
	<tbody>
		<% @organizations.each do |organization| -%>
		<tr>
			<td style="width:40%"><%= organization.name %>&nbsp;
			</td>
			<td style="width:20%"><%= organization.classrooms.active.size %> &nbsp;</td>
			<td style="width:40%" class="edit_and_remove">
				<%= organization.status.nil? ? 'No Status' : organization.status.name %>&nbsp;
        <% if organization.can_be_deleted? -%>
				  <%= link_to "Destroy", master_organizations_delete_path(:id => organization.id), :class => "fsn-button ui-button ui-state-default ui-corner-all"  %>
				<% end -%>
			</td>
		</tr>		
		<% end -%>
	</tbody>
</table>