<div id="app_ownership">
<br/>
<div style ="test-align:center; color: #2061a5; font-size:16px; margin-top:5px; font-weight:bold">
	<strong> Maintain App Ownership & Co-Ownerships</strong>
</div>
<br/>
	<% CoopApp.all.each do |app| -%>
		<%= render :partial => "master/organizations/owner_maintenance", :locals => {:app => app}  %>
	<% end -%>
	<br/></br/>
</div>