
<div style = "font-size:12px; color: #000000;padding-left:10px;">
	<br/>
	<span style ="text-align:center; color: #C83A14; font-size:18px">
	<strong>Colorado Education Standards Repository</strong>
	</span>

	<div>

	<div id="assign_resources_panel">
		<table id="resource_levels"   style="width:99%;">
			<thead>
				<tr>
					<% header_string = pluralize(@co_master.act_benches.size.to_s, " Expectations") + " In The Repository" %>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody>
				<% sub_ids = @co_master.act_standards.group_by(&:act_subject_id) %>
				<% sub_ids.each do |si, standards| %>
					<% subj = ActSubject.find(si) rescue nil -%> 
					<% subj.co_grade_levels.each do |gl| -%>
						<% col_label = subj.name.titleize + ": " + gl.level.titleize -%>
						<tr>
						<td class="resource_levels_close">

						<%= link_to '', :controller => "apps/co_standard", :action => :subject_standards, :organization_id => @current_organization, :classroom_id => @classroom, :gl_id => gl.id,  :subject_id => subj.id %>
						<strong><%= col_label %></strong>
						<span></span>
						</td>
						</tr>
						<% end -%>
					<% end -%>
			</tbody>
		</table>
	<br/>

	</div>
</div>
</div>
