<div id="elt_maintenance">
  <%= render :partial => "apps/shared/app_owner_button", :locals=>{:app=>app} %>
  <% if @current_user.superuser?%>
    <table style="margin-left:150px; font-size:16px; font-weight:bold; color: #2061a5; width:600px">
      <thead>
        <tr>
          <th colspan=2>One-Time&nbsp;<%= app.abbrev %>&nbsp;Maintenance Functions</th>
        </tr>
      </thead>
      <tbody style="font-size:14px; color: #2061a5; width:600px">
        <tr>
          <td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
              <span class="fsn-button ui-button ui-state-default ui-corner-all">
               <!--  Go -->
                   <%= link_to "Go", master_elt_orphan_elements_path(:app_id => app.id)  %>
              </span>
          </td>
          <td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
            Assign Unassigned Elements to Empty Standard
          </td>
        </tr>
      </tbody>
    </table>
  <% end -%>
  <br/>
</div>

