<% if religious_affiliation.parent != nil %>
	<div class="rowDiv" style="border:solid 0px #777777;min-height:30px;">
		<div style="float:left;">
			<%= link_to h(religious_affiliation.name), :controller => 'religious_affiliations', :action => 'show', :id => religious_affiliation.id %>
		</div>
		<div style="float:right;min-width:80px;">
			<% if religious_affiliation.children.empty? %>
				<%= button_to 'remove', {:action => :delete, :id => religious_affiliation.id}, :confirm => 'Are you sure?', :class => 'fsn-button ui-button ui-state-default ui-corner-all' %>
			<% else %>
				&nbsp;
			<% end %>
		</div>
		<div style="float:right;min-width:50px;">
			<%= button_to 'Edit', {:action => :edit, :id => religious_affiliation.id}, :class => 'fsn-button ui-button ui-state-default ui-corner-all', :method => "get" %>
		</div>
	</div>
<% end %>

<% if not religious_affiliation.children.empty? %>
	<div style="list-style-type:disc;margin-left:25px;">
		<%= render :partial => 'religious_affiliation', :collection => religious_affiliation.children %>
  	</div>
<% end %>  
