<div class="MasterItemHeaderDiv">Religious Affiliations</div>

<%= link_to "Add", :action => :new %>

<style type="text/css">
	rowDiv:hover{
		background-color:#BBBBFF;
	}
	
</style>
<div>
	<%= render :partial => 'religious_affiliation', :collection => ReligiousAffiliation.find_all_by_parent_id(nil) %>
</div>		

