<div class="formBox">
	<div class="MasterItemHeaderDiv">Add Religious Affiliation</div>
	<% form_for :religious_affiliations do %>
	<%= render :partial => "form" %>
	<p>
		<%= submit_tag "Add", :class => "submit fsn-button ui-button ui-state-default ui-corner-all" %> 
		<%=link_to "Cancel", :action => :index %>
	</p>
	<% end %>	
</div>