<p>You have requested a new Escent password.</p>
<br />
<p>Your login is <%= @user.preferred_email %>.</p>
<p>Your new password is <%= @password %>.</p>
<p>Please login and change it to something more memorable by selecting "My Profile" in the upper-left of the header bar.</p>
<br />
<br />
<!--<a href="http://www.escentpartners.com/">Escent Partners Home</a> -->