Nombre <%= @prayer_pledge.first_name %>,

Gracias por unirte a Odyssey Networks (http://www.odysseynetworks.org/) en la causa por la paz.</p>

Por favor participa en nuestras Discusiones (<%= url_for(:action => 'index', :controller => '/site', :only_path => false, :host => "live.faithstreams.com") %>) y otras actividades relacionadas a la Paz en Nuestro Mundo. 

Nuevamente, gracias por colaborar.

Odyssey Networks


