
@import "application-variables.scss";
@import 'bootstrap';

.asterisk {
  @extend .glyphicon;
  @extend .glyphicon-asterisk;
  padding-right:0em;
  font-size:23px;
}

.ifa_container {
  width: 100%;
  margin: 0 auto;
}

.maintenance_box {
  margin:1em 0em 0em 0em;
  min-height:10em;
}

.tool_row {
   margin: 3em 0em 0em 0em;
   font-size:14px;
   color:$dark_text;
 }
.tool_sumry {
  padding: 1em 0em 0em 1em;
  border:1px solid #ddd;
  line-height:1.3em;
  font-size:14px;
  color:$red_text;
}

.standard_row {
  margin: 0em 0em 1em 0em;
  font-size:16px;
  color:$blue_title;
}

.standard_label {
  float:right;
}
.standard_select {
  float:left;
}
.strand_label {
  text-align:center;
}
.strand_select {
  text-align:center;
  margin-left:15em;
}
.strand_add {
  text-align:left;
  margin-left:5em;
  color:white;
}
.benchmark_strand_select {
  padding: 2em 0em 1em 0em;
  text-align:center;
  color:$red_text;
  font-size:16px;
}
.benchmark_level_select {
  padding: 2em 0em 1em 0em;
  text-align:center;
}
.benchmark_level_change {
  padding: 1em 0em .5em 0em;
}
.ifa_edit_box {
  margin:2em 8em 4em 8em;
  font-size:14px;
  color:$dark_text;
}

.ifa_edit_row {
  margin:2em 0em 0em 0em;
}

.ifa_edit_label {
  text-align:right;
}

.ifa_edit_text {
  text-align:left;
}
.ifa_subject_edit_box {
  margin:2em 0em 0em 0em;
}

.benchmark_box {
  margin: 0em 0em 0em 0em;
  padding: 0em 1em 0em 1em;
  background-color: $panel_background_ifa;
  border:1px solid $dark_text;
  font-size:12px;
}
.benchmark_list {
  padding: 0em 0em 0em 0em;
  line-height:1.3em;
  font-size:12px;
}

.benchmark_level_row {
  padding: 0em 0em 0em 0em;;
}

.benchmark_level {
  padding: .5em 0em .5em 2em;
  font-size:14px;
  vertical-align:middle;
}

.benchmark_row {
  padding: 1.5em 0em 1em 0em;
  border-bottom:1px solid $dark_text;
}
.benchmark_add {
  text-align:left;
  padding: 1.5em 0em .5em 1em;
  font-size:13px;
}
.bench_left {
  padding:0em 0em 0em 1em;
  text-align:right;
  font-weight:bold;
  color:$dark_text;
  font-size: 12px;
}
.benchmark_descript_type {
  text-align:left;
  line-height:1.5em;
  font-weight:normal;
  color:$dark_text;
  font-size: 13px;
  padding: 0em 0em 0em 2em;
}
.benchmark_descript_type .type {
  padding: 0em 0em 0em 0em;
  font-weight:bold;
}
.benchmark_descript {
  text-align:left;
  line-height:1.5em;
  font-weight:normal;
  color:$dark_text;
  font-size: 16px;
  padding: 1em 1em .5em 2em;
}

.benchmark_descript .questions {
  padding: .5em 0em 0em 0em;
  color:$red_text;
  font-size: 14px;
}
.options_standards_row {
  text-align:left;
  font-weight:normal;
  color:$blue_text;
  font-size: 13px;
  margin: 0em 0em 0em 0em;
}
.benchmark_source {
   text-align:left;
   font-weight:normal;
   color:$blue_text;
   font-size: 14px;
   padding: 1em 0em 0em 1em;
 }
.benchmark_source_label {
  text-align:left;
  font-weight:normal;
  color:$blue_text;
  font-size: 14px;
  padding: .5em 0em 0em 1em;
}
.benchmark_source .err {
  color:$red_text;
  font-style: italic;
  font-size:13px;
}
.options_standards_indicator {
  width:10%;
  padding: 0em 0em 0em 0em;
}
.options_standards_name {
  padding: 0em 0em 0em 0em;
}
.options_box {
  margin:1em 0em 1em 0em;
}
.options_row {
  margin:1em 0em 1em 0em;
  border:0px solid #ddd;
}
.options_label {
  margin:0em 0em 0em 0em;
  text-align:left;
  font-size:13px;
  color:$blue_text;
}
.options_descript {
  margin:0em 4em 0em 0em;
  word-wrap:break-word;
  text-align:left;
  font-size:12px;
  color:$dark_text;
}
.dashboard_demo_cells {
  padding: 1em 0em 1em 2em;
  border:1px solid #ddd;
  vertical-align:middle;
  text-align:center;
  line-height:1.3em;
  font-size:14px;
  font-weight:normal;
}
.dashboard_demo_levels {
  color:$dark_text;
  padding: 1em 0em 1em 0em;
  border:1px solid #ddd;
  vertical-align:middle;
  text-align:center;
  font-size:12px;
  font-weight:normal;
}
.dashboard_demo_header {
  padding:1em 0em 1em 0em;
  font-size:15px;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:normal;
}
.source_tag_row1 {
  margin: 2em 0em 0em 0em;
  color:$red_text;
  line-height:1.5em;
  text-align:center;
  font-size:16px;
}
.source_tag_row2 {
  margin: 1em 0em 0em 1em;
  color:$red_text;
  line-height:1.5em;
  text-align:center;
  font-size:14px;
}
.dashboard_anal_box {
  margin:0em 0em 0em 0em;
  padding:2em 1em 2em 1em;
  font-size:14px;
  background:white;
  color:$dark_text;
  font-weight:normal;
  text-align:left;
  vertical-align:top;
  border:1px solid #ddd;
}
.db_table {
  margin: 1em 1em 2em 1em;
  font-style:normal;
  border:1px solid #ddd;
  font-size:13px;
  text-align:center;
  line-height:2em;
  color: $red_text;
}
.submission_pool_button {
  padding:0em 0em 1em 0em;
}
.submission_pool_list {
  border:0px solid #ddd;
  margin: 2em 0em 1em 0em;
}
.submission_db_found {
  text-align:center;
  color: $blue_text;
  font-weight:bold;
}
.submission_redash_needed {
  padding:.5em 0em .5em 0em;
  text-decoration:blink;
  text-align:center;
  color: $red_text;
  font-size:11px;
  font-style: italic;
  font-weight:bold;
}
.submission_period_box {
  padding:0em 0em 0em 0em;
  max-height: 35em;
  overflow: scroll;
  border:1px solid #ddd;
  font-size:13px;
  color: $dark_text;
}
.submission_period_row {
  padding:.5em 0em .5em 0em;
  border:1px solid #ddd;
  font-size:13px;
  color: $dark_text;
}
.submission_period_row .dates {
  padding: 1em 0em .5em 2em;
  font-weight:bold;
  font-size:13px;
  color: $blue_text;
}
.submission_period_row .view {
  padding: .5em 0em 0em 2em;
  font-size:13px;
}
.submission_period_row .names {
  font-weight:bold;
  font-size:13px;
  color: $blue_text;
}
.bench_dashboard_box {
  margin:1em 0em 1em 0em;
  padding:0em 0em 0em 0em;
  background-color:white;
  border:1px solid #ddd;
}
.bench_dashboard_header {
  padding:1em 0em 1em 2em;
  color:$blue_text;
  font-size:14px;
  vertical-align:middle;
  text-align:center;
  line-height:2em;
  font-weight:normal;
}
.bench_dashboard_header1 {
  color:$red_text;
  font-weight:bold;
}
.bench_dashboard_label {
  padding:0em 0em 0em 2em;
  color:$blue_text;
  font-size:12px;
  vertical-align:middle;
  text-align:left;
  line-height:2em;
}
.bench_dashboard_strand_header {
  padding:1em 0em 1em 0em;
  font-size:15px;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:normal;
}
.bench_dashboard_cells {
  padding: 1em 2em 1em 1em;
  vertical-align:middle;
  text-align:left;
  border:1px solid #000;
  color:$blue_text;
  line-height:1.3em;
  font-size:12px;
  font-weight:normal;
}
.bench_dashboard_cell_total {
  padding: 0em 0em 0em 0em;
  text-align:center;
  color:$red_text;
  font-size:13px;
  font-weight:bold;
}
.bench_dashboard_cell_subtotal {
  padding: 0em 0em 1em 0em;
  text-align:center;
  color:$blue_text;
  font-size:12px;
  font-weight:normal;
}
.bench_dashboard_cell_subtotal_row {
  padding: 0em 1em 0em 1.5em;
  text-align:left;
  word-wrap:break-word;
  line-height:2em;
  color:$dark_text;
  font-size:11px;
  font-weight:normal;
}
.bench_dashboard_cell_subtotal_row .heading {
  text-align:center;
}
.bench_dashboard_cell_subtotal_row .stat {
  text-align:center;
}
.bench_dashboard_levels {
  color:$red_text;
  padding: 0em 0em 1em 1em;
  border:1px solid #ddd;
  vertical-align:middle;
  text-align:center;
  font-size:13px;
  font-weight:normal;
}
.bench_dashboard_maint_row {
  color:$blue_text;
  padding: 0em 0em 1em 1em;
  text-align:center;
  font-size:12px;
}
.bench_dashboard_maint_update {
  padding: 0em 0em .5em 0em;
  color:$blue_text;
  cursor:pointer;
  text-decoration:underline;
}