

<div class="clear">
	<p style="margin-bottom: 10px; font-weight: bold; font-size: 16px; color:#C73914; float:left;"><%=@classroom.course_name %>&nbsp;Authorizations<p>

</div>

Function Now Under Classroom App

<br />

<%= button_to 'Back', {:url => {:controller => 'admin/classrooms',:action => 'index', :organization_id => @current_organization},:remote => true, :method => 'get', :update => "classrooms_panel"},:class => 'fsn-button ui-button ui-state-default ui-corner-all' %>
