<h1>Editing classroom</h1>
<%= button_to 'Back', {:url => {:controller => 'admin/classrooms',:action => 'index', :organization_id => @current_organization}, :remote => true, :method => 'get', :update => "classrooms_panel"},:class => 'fsn-button ui-button ui-state-default ui-corner-all' %>
<div class="Form clear">
Fnction Now in Classroom App
</div>

