<div>
	<% unless @people.size.zero? %>
	<table id="roles" class="tablesorter" style="width:99%;">
		<thead>
			<tr>
				<th style="width:400px;">Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<% for user in @people do -%>
			<tr>
				<td>
					<%= link_to user.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => user}, {:target => "_blank"} %>
				</td>
				<td><%= user.preferred_email %>
			<td class="button" style="width:100px;">					
					<%= button_to "Remove", {:update => "classrooms_panel", :url => {:controller => :classrooms, :action => :remove_authorization_level, :organization_id => @current_organization, :classroom_id => @classroom, :user_id => user, :authorization_level_id => @al}, :confirm => "Are you sure?"},:remote => true, :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>
				</td>
			</tr>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		No users found.
	<% end -%>

	<%= link_to "back", :update => "classrooms_panel", :url => {:controller => :classroom, :action => :authorization_assignments, :organization_id => @current_organization}, :remote => true, :method => :get, :html => {:class => "back_to_roles"} %>
	<br/></div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>