<div class="organization_panel">
  <div class="organization_panel_header">
    TOOLS
  </div>
  <div class="organization_panel_text">
    <%= render :partial => "static_organization_apps"%>
  </div>
</div>

<div class="organization_panel">
  <div class="organization_panel_header">
    LEARNING UNITS IN-PROGRESS
  </div>
  <div class="organization_panel_text">
    <%= render :partial => "static_organization_classrooms", :locals=>{:display=>"lu"}%>
  </div>
</div>
