<div class="organization_panel">
  <div class="organization_panel_header">
    <%= @current_organization.short_name %> Offerings
  </div>
  <div class="organization_panel_text">
    <%= render :partial => "static_organization_classrooms", :locals=>{:display=>"Offering"}%>
  </div>
</div>

<div class="organization_panel">
  <div class="organization_panel_header">
    <%= @current_organization.short_name %> Resource Library Contributions
  </div>
  <div class="organization_panel_text">
    <%= render :partial => "static_organization_resources"%>
  </div>
</div>
