<div class= 'container'>
  <% if false && @current_user %>
    <%= @current_user.full_name %>
  <% else %>
    <%= render :partial => "organization_heading"%>
    <hr>
    <div class= 'row'>
      <div class="col-md-6">
        <%= render :partial => "organization_left_panel"%>
      </div>
      <div class='col-md-6'>
        <%= render :partial => "organization_right_panel"%>
      </div>
    </div>
  <% end %>
</div>
