<div class= 'container'>
  <%= render :partial => "organization_heading"%>
  <hr>
  <% if @current_user %>
      <%= render :partial => "organization_user_panel", :locals=> {:user=>@current_user} %>
  <hr>
  <% end %>
  <div class= 'row'>
    <div class="col-md-6">
      <%= render :partial => "organization_left_panel"%>
    </div>
    <div class='col-md-6'>
      <%= render :partial => "organization_right_panel"%>
    </div>
  </div>
</div>
