<div id="sidebar_nav">
    <img src="/images/fsn_home/header_join_COOP_free.jpg" width="224" height="56" />
    <ul>
        <li id="congregations">
            <%= link_to "Congregations, other organizations", :action => "organizations" %>
        </li>
        <li id="individual">
            <%= link_to "Individual", :action => "individuals" %>
        </li>
        <li id="solution">
            <%= link_to "Solution Provider", :action => "providers" %>
        </li>
    </ul>
</div>
<!-- close sidebar_nav div -->
<div id="search" class="left">
    <h2>Find</h2>
    <% form_tag({:controller => "/site/site", :action => :search, :organization_id => @current_organization}, :method => :get) do -%>
    <div style="float:left; padding-right:5px; padding-top:3px; margin-bottom:10px;">
		<div style="width:100px; float:left;">
	        <div style="float:left; padding-top:3px;">
	            <input type='radio' id='search_type' name='search_type' value='Organizations' />
	        </div>
	        <div style="float:left;">
	            Organizations 
	        </div>
		</div>
		<div style="width:100px; float:left;">		
	        <div style="float:left; padding-top:3px;">
	            <input type='radio' id='search_type' name='search_type' value='People' />
	        </div>
	        <div style="float:left;">
	            People
	        </div>
		</div>
		<div style="width:100px; float:left; ">				
	        <div style="float:left; padding-top:3px;">
	            <input type='radio' id='search_type' name='search_type' value='Causes' />
	        </div>
	        <div style="float:left;">
	            Causes
	        </div>
		</div>
		<div style="width:100px; float:left;">					
	        <div style="float:left; padding-top:3px;">
	            <input type='radio' id='search_type' name='search_type' value='Content' checked/>
	        </div>
	        <div style="float:left;">
	            Content
	        </div>
		</div>
    </div>
    <%= text_field_tag "keywords", @keywords, :class => "text" %>
	<button type="submit" class="go">GO</button>
    <% end -%>
</div>
