<div id="main_header">
   	<div id="header_bar">
		<div id="header_main_ep">
		      <%= render(:partial => "/shared/header_bar_ep") %>
	   	</div>
   	</div> 
</div>
<div id="body_main_ep">
<div style="width:600px;padding-left:200px">

	<div style="min-height:50px; margin-left:420px;margin-top:25px; margin-bottom:0px;padding:3px;text-align:left;">
	  <div class="title_blue">Contact Information</div>
	  <div class="text_dark_blue" style="margin-left:0px;margin-top:5px;">
		Escent Partners, LLC<br>
		22081 Bardwell Avenue<br>
		Conifer, CO  80433			<br>
		1.303.250.0436 phone
	  </div>
	</div>
	<div style="width:600px;padding-left:200px">
	
	
	<% if flash[:notice] -%>
	  <div id="notice"><%= flash[:notice] %></div>
	<% end -%>
	
		<div style="width:580px;padding:3px;">
		  <div class="title_blue">Thank You</div>
		  <div class="text_dark_blue" style="margin-left:20px;margin-top:5px;">
			Thank you for being in touch.<br/>
			Your message is being forwarded to the appropriate person for handling.
			<br />	<br />
			The Escent Team
			<br />	<br />			<br />	<br />
		  </div>
		</div>
	
	</div>
</div>