<div id="sidebar">
    <%= render :partial => 'join_sidebar' %>
</div>
<div style="float:left; width:615px;">
    <div class="title_large_blue" style="margin-bottom:15px;">
        Discover More
    </div>
    Faiths At Work is built on the belief that people of faith share common priorities and causes; and that by joining together they can have greater impact on making the world a better place. 
    <p>
        &nbsp;
    </p>
    Faiths At Work enables congregations and other organizations to bring these global issues to a local venue for discussion and action. These can range from achieving world peace to sheltering the homeless to engaging youth or developing leaders. 
    <p>
        &nbsp;
    </p>
    <div style="text-style:italics;">
        How this is done…
    </div>
    <p>
        &nbsp;
    </p>
    <div style="color:#c93b15; font-weight:bold;">
        For Congregations and other Organizations
    </div>
    Faith At Work offers a Network Page – a customizable page in the network which offers the unique opportunity for leaders to choose areas of interest, host discussions, make a call for action, and document their successes. Media and articles from the Faiths At Work library will be available to support the discussion. Find resources. Upload resources. Share. 
    <div style="text-align:right;">
        <a href="/fsn/organizations"> Organizations find out more… </a>
    </div>
    <p>
        &nbsp;
    </p>
    <div style="color:#aaba0f; font-weight:bold;">
        For People 
    </div>
    Faiths At Work provides the venue for not just talking about what you can do, but taking the steps to actually participate in the causes you are most interested in. 
    <div style="text-align:right;">
        <a href="/fsn/individuals">Individuals find out more… </a>
    </div>
    <p>
        &nbsp;
    </p>
    <div style="color:#e9a713; font-weight:bold;">
        For Application Providers 
    </div>
    Faiths At Work provides a network of organizations and people of good will who always need more efficient ways to get things done. 
    <div style="text-align:right;">
        <a href="/fsn/providers">Application providers find out more… </a>
    </div>
    <p>
        &nbsp;
    </p>
</div>
