<div id="sidebar">
   <%= render :partial => 'join_sidebar' %>
</div>
<div class="marketing_content">
	<div class="title_large_blue">FAQs</div>
	<p>&nbsp;</p>
	
	 <div class="title_red">for SCHOOLS AND OTHER ORGANIZATIONS</div>
Q1.  <a href="#1">What is The Co-Operative Project and the significane of the Fern Logo??</a><br />
Q2.  <a href="#2">How does The Co-Operative Project help schools?</a><br />
Q3.  <a href="#3">What is a Network Page?</a><br />
Q4.  <a href="#4">Who signs up or manages an organizations Network Page?</a> <br />
Q5.  <a href="#5">How is The Co-Operative Project different from MySpace, Facebook and other networking sites?</a><br />
Q6.  <a href="#6">How do schools and other organizations join The Co-Operative Project?</a><br />
Q7.  <a href="#7">Who can see or access information about my organization?</a><br />
Q8.  <a href="#8">What control does a school have over the content the display?</a><br />
Q9.  <a href="#9">Can our school load content into the Resource Library for others to use? </a><br />
Q10. <a href="#10">How secure is The Co-Operative Project?</a><br />
Q11. <a href="#11">Is there customer support?</a><br />

<p>&nbsp;</p>

<div class="title_orange">FAQs  for INDIVIDUALS</div>
Q1.  <a href="#12">Why should I join The Co-Operative Project?/a><br />
Q2.  <a href="#13">Is my personal information safe?</a><br />
Q3.  <a href="#14">How much information do you require to join?</a><br />
Q4.  <a href="#15">Can I sign up my school?</a><br />
Q5.  <a href="#17">If I have other questions, where do I go for assistance?</a><br />

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="title_red">FAQs for SCHOOLS AND OTHER ORGANIZATIONS</div><br />


<a name="2"><b>Q2. How does FaithStreams help congregations grow?</b></br></a>
<div class="faq_answer">
By providing the tools and resources that help them engage current members more actively and attract new members. FaithStreams gives every registered congregation a special, customizable page called an iWing which is accessed via a link on the congregation’s homepage. The iWing is a networked page that allows access to the resources of FaithStreams.  
<a href="">See a sample iWing</a>
</div>

<a name="3"><b>Q3: What is an iWing?</b></br></a>
<div class="faq_answer">
An iWing is a web page that provides access to resources and the capability to connect with others who share interests, outreach priorities, missions and goals.  

This page allows the organization to focus on topics of interest, discuss these topics.  It provides supporting media, and ways to help you mobilize on anything from a global issue like Poverty and Homelessness to a local and related project like starting a soup kitchen.

Organizations customize their iWings to reflect their own branding.
Congregations may choose to supply their own content, use content from FaithStreams, or both.

The iWing enables organizations to:
	• Offer dynamic video and text content refreshed daily.
• Upload information and images
• Facilitate discussions
• Connect to other organizations, individual members of the network, and groups.
• Add Applications made available by FaithStreams.
</div>      

<a name="4"><b>Q4. Who signs up or manages the congregation’s iWing?</b></br>  </a>
<div class="faq_answer">
Any person authorized by the congregation.  FaithStreams will validate the person’s holding a particular role within the congregation or organization. This person can sign up and be the administrator of the iWing. FaithStreams has made the iWing administrator’s job easy.  Anyone who is comfortable with the basic functions of a computer can easily manage an iWing. No special training is needed.
</div>

<a name="5"><b>Q5. How is FaithStreams different from MySpace, MyChurch, Facebook and other networking sites?</b></br></a>
<div class="faq_answer">
This network is primarily geared toward congregations and organizations.  FaithStreams is a service of Odyssey Networks, a 20-year old non-profit organization dedicated to serving America’s diverse congregations.

FaithStreams is not competing with networking sites that target the individual end user.  FaithStreams aims to enhance and broaden the reach of congregations and organizations that wish to engage people on issues of social justice and other issues, with the understanding that we’ll undoubtedly benefit from working together and harnessing the power of many to help make our world a better place to live.  
</div>

<a name="6"><b>Q6. How do congregations and other organizations join FaithSteams?</b></br></a>
<div class="faq_answer">
Any person authorized by a bona fide organization can register their congregation on FaithStreams.  Upon completion of the registration process, a customizable iWing can be set up immediately. 
</div>

<a name="7"><b>Q7. Who can see or access information on my congregation’s iWing?</b></br></a>
	Anyone who visits your web site can click on the link and see your iWing—just 	as they can see your congregational buildings in the real world. 
<div class="faq_answer">	
It is a public page. The fact that it can be seen by the public and found through the network, helps you present your congregation to potential members.  When your content and conversations are interesting, people tend to become more engaged.
</div>

<a name="8"><b>Q8. What control does an organization have over the content on their iWing?</b></br></a>
<div class="faq_answer">
The iWing administrator selects the content they want and controls access to it. FaithStreams Organizational Members are in full charge of their iWings – what content it distributes, what it looks like, what applications are added.
</div>

<a name="9"><b>    Q9.  Can our congregation upload content into the Resource Library for public use? </b></br> </a>
<div class="faq_answer">
	Yes, each iWing admin can upload content to our library, tag it and make it 	publically available.
</div>

<a name="10"><b>   Q10. How secure is FaithStreams?</b></br></a>
<div class="faq_answer">
     FaithStreams utilizes state-of-the art security technology to assure the privacy of our Individual and Organizational members. 
	 See <%= link_to "Privacy Policy", :action => "privacy" %>.
</div>

<a name="11"><b>   Q11.  Is there customer support?</b></br></a>
<div class="faq_answer">
FaithStreams network and the iWing are easy to use. There is no formal training.   
<ul>
		<li> You will see a big red question mark on the top of every page.</li>
		<li> There is also a help link at the bottom of every page.</li>
		<li> You may send an email inquiry to <a href="mailto:support@faithstreams.com">support@faithstreams.com</a>.</li>
		<li>  If you can’t find answers through the above, call 1-800-944-3021</li>
</ul>		
</div>
<p>&nbsp;</p>
<div class="title_green">FAQs  for INDIVIDUALS</div>

<a name="12"><b>	Q1.  Why should I join the Escent Community?</b></a>
<div class="faq_answer">
		Escent offers you a place to ...		<ul>
	<li> </li>
		<li> </li>
		<li> </li>
<li> You will be in a safe community of educators.</li>
</ul>
</div>
<a name="13"><b>	Q2.  Is my personal information safe?</b></a>
<div class="faq_answer">
Your private information will never be shared with anyone or any organization.  
</div>
<a name="14"><b>	Q3.  How much information do you require to join?</b></a>
<div class="faq_answer">
Your email address, your first and last name, and a password.  
	</div>
<a name="15"><b>	Q4.   Can I sign up my school?</b></a>
<div class="faq_answer">
If you hold a leadership or staff role in your organization and you are authorized to represent your organziation, you can register your organization to the Escent Community. You need to register as an Individual Member before registering your organization.  
</div>

<a name="17"><b>	Q5.   If I have other questions, where do I go for assistance?</b></a>
<div class="faq_answer">
	          
		<li>  You may send an email inquiry to <a href="mailto:info@the cooperativeproject.com">info@escentpartners.com</a>.</li>
		<li>  If you can’t find answers through the above, call 1-303-697-5928</li>
</ul>		
</div>	 

</div>
