<div id="sidebar">
   <%= render :partial => 'join_sidebar' %>
</div>
<div class="marketing_content">
<div class="title_large_blue">Question Page</div>
<p>&nbsp;</p>
You probably found this page because you have questions about the Escent Community before you register yourself or your organization.
Feel free to email us if you have questions.
<p>&nbsp;</p>
<!-- ALK take out for now
<%= link_to "FAQ", :action => "faq" %> – the most frequently asked questions about FaithStreams.
<p>&nbsp;</p>
<%= link_to "Help files", :action => "help" %> – information dealing with specific site activities such as registration or setting up an iWing.
<p>&nbsp;</p>  
-->
<a href="mailto:info@escentpartners.com">info@escentpartners.com</a> – email us and we’ll get back to you right away.
<p>&nbsp;</p>
1-303-250-0436 Call us between of 9 a.m. – 4:30 p.m. ET Monday through Friday.
</div>
