<div id="main_header">

	<% @heading_color = "#1b5698" -%> 
    <% @post_title_color = "#1b5698" -%>
    <% @text_color = "#555555" -%>

    <div id="welcome_msg">
        <h1 class="hidden">Welcome to Escent Partners, Education Reform, Teacher Effectiveness, Collaborative Time and Learning, Integrated Formative Assessment</h1>
    </div>

   	<div id="header_bar">
		<div id="header_main_ep">
		      <%= render(:partial => "/shared/header_bar_ep") %>
	   	</div>
   	</div> 

</div>

   	<%= render(:partial => "/fsn/index_ep_body", :locals=> {:blog=> @blog}) %>



 	

