<div id="sidebar" style="float:left;">
<%= render :partial => 'join_sidebar' %>    
</div>
<div style="float:left; width:615px;">
<div class="normal">
        <div class="title_large_red" style="margin:0px 0px 10px 0px;">
            CONGREGATIONS/Organizations
        </div>
            <img src="/images/networkpage_badge.png" align="left" border="0" style="margin:0px 10px 0px 0px;" />
			<div style="font-size:14px; font-weight:bold;">Your Network Page is special &mdash; 
                <br/>
                It's only for Organizations.
            </div>
            <p>
                &nbsp;
            </p>
            Every Organization that becomes part of the Faiths At Work family, receives a Network Page.  This is a customizable page offered to supplement your existing site – a special place designed to help you enhance any cause you choose – be it local or global. 
            <p>
                &nbsp;
            </p>
            The steps are easy:
            <p>
                &nbsp;
            </p>
            <dl style="margin: 0px;">
                <dt>
                    Someone authorized to represent your Organization 
                    registers. 
                </dt>
                <dt>
                    You get your Network page. 
                </dt>
                <dt>
                    We walk you through set-up. 
                    (f you don’t have much time, 
                    we offer default settings.)
                </dt>
                <dt>
                    You put a link to it on your existing site.
                </dt>
                <dt>
                    You start using the network for resources and 
                    engaging people in dialogue about things that matter.
                </dt>
            </dl>
            <p>
                &nbsp;
            </p>
            Through your Network Page, you can find organizations, people, causes and content. 
            <p>
                &nbsp;
            </p>
            Your Organization can be as private as you wish - limiting the resources you offer through your page to what you find acceptable. 
            <p>
                &nbsp;
            </p>
            You may upload content through this page and make it available to whomever you choose.
            <p>
                &nbsp;
            </p>
			<strong>
            Your Network Page is in good company with other Organizations -- and People of good will -- who wish to make the world a better place.
			</strong>
            <p>
                &nbsp;
            </p>
            Our goal is to help you at the level of your need.
            Some of you may wish to start by focusing on local issues.
            Others may wish to collaborate and truly enhance your outreach.
            For some, global causes will be your priorities.
            <p>
                &nbsp;
            </p>
            <a href="/site" target="_blank">See a sample Network Page &raquo;</a>
            <p>
                &nbsp;
            </p>
			<strong>
            To jump right in… 			
			</strong>
			<p>&nbsp;</p>
			<a href="/organizations/register">Sign up your Organization  &raquo;</a><br/>
            (You must be a signed in Member to register your Organization)  
						<p>&nbsp;</p>
            <a href="/users/register">Join as an Individual Member  &raquo;</a>
        </div>
</div>
