<style type="text/css">
  .pageWrapper{
	  width:100%;
	  text-align:center;
  }
  .sectionTitle{
	  width:85%;
	  text-align:left;
	  font-weight:bold;
	  padding:10px;
  }
  .sectionText{
	  width:80%;
	  text-align:left;
	  padding:10px 0 10px 20px;
  }
  .subSectionTitle{
	  width:75%;
	  text-align:left;
	  font-weight:bold;
	  text-decoration:underline;
	  padding:10px 0 10px 30px;
  }
  .subSectionText{
	  width:70%;
	  text-align:left;
	  padding:10px 0 10px 40px;
}
</style>

<div>
    <div class="pageWrapper">
      <p> &nbsp; </p>
	  <div style="text-align:center;font-weight:bold;padding:10px;font-size:large">
	    ESCENT PARTNERS, LLC PRIVACY POLICY
		</div>
    <p> &nbsp; </p>
    <div style="width:85%;text-align:left;padding-left:10px;">
      This Web site (the “Site”) is operated by Escent Partners, LLC.This privacy policy (“Privacy Policy”)
      applies to information that you provide to Escent Partners via this Site, and/or by use
      of other services (collectively, the “Services”) that may be provided by other means or
      media, including as set forth below and as defined in the applicable
      <%= link_to 'Terms of Service', terms_path, :target => '_blank' %> (the “TOS”) or other terms.
      <p> &nbsp; </p>
      This Privacy Policy is intended to provide you notice of Escent Partners' information management practices, including the types of information gathered, how it is used and safeguarded,
      and the degree to which you may control the maintenance and sharing of your information.
      Your use of any Site or Services owned by Escent Partners, or by Licensors of Escent Partners, constitutes acceptance of this Privacy Policy and any other applicable terms, including the TOS, which incorporates this Privacy Policy by reference.
		</div>

	   <div class="sectionTitle">
		 I.	Cookies and Related Technology 
	   </div>

	   <div class="sectionText">
	   	  The Site and some Services, and advertisements contained therein may contain "cookies," clear gifs (also known as web beacons or web bugs), or similar technology. A cookie is a piece of data that is sent to your Internet browser, which will store the cookie on your computer if your browser is enabled to accept cookies, that helps a server identify and provide information about a browser when it’s used to visit a Web site. 
		  We may also use cookies to better understand how our visitors use the Site and the Services and to continue to improve our services. Web beacons assist in the delivery of cookies and the collection of non-personally identifiable information, such as "click path" and other data as described above.
       <p> &nbsp; </p>
		  Escent Partners may use cookies, clear gifs, frames, server log analysis and other technologies as they are developed to customize your experience with the Site and Services.
       <p> &nbsp; </p>
		  Most Internet browsers will allow you to erase cookies from your computer hard drive, block acceptance of cookies, or receive a warning before a cookie is stored. You should refer to your browser instructions or "Help" screen to learn more about how to manage cookies. Please note, however, that if you block cookies, some portions of the Site and the Services may not function properly.
       <p> &nbsp; </p>
		  Escent Partners does not control cookies in third party ads, and visitors are encouraged to check the privacy policies of advertisers and/or ad services to learn about their use of cookies and other technology. The ads appearing on the Site and the Services may be delivered to you by third-party advertising companies. Escent Partners' Privacy Policy does not cover the use of information collected from you by third party ad servers. 
		  These companies may use information (not including your name, address, e-mail address or telephone number) about your visits to this and other Web sites in order to provide advertisements on this Site and other sites about goods and services that may be of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, please review the privacy policies and terms of service for these third-party companies. For more information on how to modify your browser settings to block or filter cookies, 
		  see <a href="http://www.cookiecentral.com/faq" target="_blank">http://www.cookiecentral.com/faq</a>. 
	   </div>

	   <div class="sectionTitle">
		  II. No Spam, Spyware or Spoofing
	   </div>

	   <div class="sectionText">
		    We do not tolerate spam. You are not licensed or otherwise permitted to add other users on the Site and the Services to your mailing list (email or physical mail, or any other medium) without their explicit consent.
       Please report spam or spoof emails to to the System Administrator associated with your user account.
		    You may not use our communication tools to send spam or otherwise send content that would violate the TOS.
	   </div>

	   <div class="sectionTitle">
		  III.	Non-Personally Identifiable Information That We Collect
	   </div>

	   <div class="sectionText">
	   	  In many cases Escent Partners will automatically collect certain non-personally identifiable information about your use of the Site and the Services. Escent Partners might collect, among other things, information concerning the date, time and length of your visit and the type of Internet browser or computer operating system you are using, the domain name of your Internet service provider, your "click path" through Escent Partners sites or "click-through" from an e-mail, the Web site or advertisement that was linked to or from Escent Partners site when you visited, and your IP address. 
		  To do this Escent Partners may use cookies and other technology (see above). If you are using our wireless Services, we may also automatically collect information such as the type of wireless device you are using, your mobile identification number (assigned by your telecommunications carrier) and telecommunications carrier. Your use of the Site and the Services, and information provided through these technologies, will be anonymous unless you provide us with personally identifiable information or have provided such information in the past. 
		</div>

	   <div class="sectionTitle">
		  IV. Personally Identifiable Information That We Collect
	   </div>

	   <div class="sectionText">
	   	Escent Partners respects your privacy and is committed to protecting 
		personally identifiable information that you provide in connection 
		with your use of the Site and the Services. 
	   </div>
	   <div class="subSectionTitle">
		  a. E-mail Newsletter Subscriptions
	   </div>

	   <div class="subSectionText">
		  To subscribe to our e-mail newsletters, should we offer them, you will need to provide your
		  e-mail address. You may also be asked for other information when you
		  complete the registration process on the Site.
	   </div>

	   <div class="subSectionTitle">
		  b. User Accounts
	   </div>

	   <div class="subSectionText">
	   	  In order to use certain features on the Site, including without limitation, discussion forums, tools supported by Licensors, and certain other Services and features of the Site,
       you will need to register and create a user account ("User Account").
       <p> &nbsp; </p>
		    You may also be asked to provide certain personally identifiable information and other information about yourself, such as your first and last name, address, telephone number, and e-mail address.
        Once you give us your personal information, you are no longer anonymous to us. By providing us with personal information, you consent to our collection and storage of your information.
        We may, but not necessarily, collect and store the following personal information depending on the Services you require:
       <p> &nbsp; </p>
		    <ul style="margin-left:20px;">
          <li>
            financial, billing and transactional information, such as credit card or bank account numbers, used in connection with any transactions or other activities on the Site or the Services;
            <p> &nbsp; </p>
          </li>
          <li>
            user feedback, chats, correspondence through our Site and the Services, and correspondence sent to us;
            <p> &nbsp; </p>
          </li>
          <li>
            data you create by way of your use of the licensed tools supported by the Site;
            <p> &nbsp; </p>
          </li>
        </ul>
       <p> &nbsp; </p>
        Your User Account Name will be publicly available on the Internet while you participate in some Services, like discussion forums, so you should exercise discretion when using these Services.
        This Privacy Policy does not apply to any information you may disclose publicly in such Services. In some instances, you may choose to create a "Public Profile" that will be available to others on the Internet.
        Public Profiles are managed entirely by you, and you are solely responsible for your Public Profile's content. You are also responsible for maintaining and updating the registration information in your User Account with current and complete information.
	   </div>

	   <div class="subSectionTitle">
			c. Special Promotions and Purchases
	   </div>

	   <div class="subSectionText">
	   	  The Site does NOT currently support commercial Services such as sweepstakes, contests ("Special Promotions"), or online purchases ("Purchases").
        Should any of these Services be added in the future by Escent Partners or its Licensors, this will warrant a material change to this Privacy Policy. An Updated Privacy Policy will address the implications these new Services may have on your personal information.
        The Updated Privacy Policy will be communicated to all users prior to implementation of these new Services.
	   </div>

      <div class="subSectionTitle">
        d. Information Collected From Process Flows
      </div>

      <div class="subSectionText">
        The primary emphasis of the Site, and the suite of tools it supports, is to facilitate and enable operational process flows.
        A natural outcome of these processes is the collection and accumulation of operational data. Depending on the tool, these data are often associated with
        users, organizations, and resources that have logical relationships with one another. These relationships are preserved in the underlying database of the Site.
        Access to this data is strictly controlled by a multi-level authorization structure that ensures all data are viewed only by those users having the authority and need to view the data.
        When data about a particular user is displayed, the user's identity is shown. However, when a user's data is aggregated into a population-level data view, the individual user identities are removed.
        This allows users to view and analyze population-level data while protecting the identifies of particular users comprising the population.
      </div>
	   <div class="subSectionTitle">
		  e. Information Collected by Other Means or Media
	   </div>

	   <div class="subSectionText">
       In some situations, we may also collect personally identifiable information and other information about you through other means, directly or indirectly.
       For example, if you access or submit any content or data stored in our database, Escent Partners may collect information from you. In each of these cases, Escent Partners will apply this policy to any personally identifiable information.
	   </div>

	   <div class="subSectionTitle">
		  f. Information About Other People
	   </div>

	   <div class="subSectionText">
	   	  Some tools owned by Esceent Partners, or its Licensors, may ask you to submit personally identifiable information about other people.
        For example, you might submit a person's name associated with a function you are performing within the tool, thus logically attaching that person to the function you are performing.
        A record of that transaction will be maintained as allowed and/or required by the process supported by the tool.
	   </div>

	   <div class="subSectionTitle">
		  g. Customer Service
	   </div>

	   <div class="subSectionText">
	   	 Some Licensors may offer support and technical assistance through customer service centers via telephone, online chat, or e-mail.
       Whenever you communicate with customer service, you do so with the understanding that an operator may view and make changes to the information in your User Account in order to provide the assistance that you need.
	   </div>

	   <div class="sectionTitle">
		  V. Special Notice Regarding Children Under 13
	   </div>

	   <div class="sectionText">
       Escent Partners recognizes the sensitivity of personally identifiable information concerning children under the age of 13 and therefore provides this Special notice.
       Escent Partners is committed to complying with all applicable laws and regulations regarding children, including the Children's Online Privacy Protection Act ("COPPA"), 15 U.S.C. § 6501, et seq.
       Except in limited circumstances allowed by COPPA, Escent Partners will not knowingly collect, maintain, or disclose any personally identifiable information from a child under 13 without first obtaining consent from that child's parent or legal guardian.
       <p> &nbsp; </p>
       If you are the parent or guardian of a child under 13, and your child would like to participate in certain Services for which COPPA requires your consent (and Escent Partners has chosen to make such Services available to children in this age group),
       your child will be prompted to print out a form for you to complete and mail in to Escent Partners.
       The form will list the information required from both parent/guardian and child, as well as the intended uses of the information. Escent Partners will only collect information that is reasonably necessary for your child to participate, and Escent Partners will not share your child's personally identifiable information with any third party (except for purposes of fulfillment by a third party that has agreed to protect the information in accordance with this Privacy Policy),
       unless you specifically consent, or as permitted by COPPA or other applicable law. You may also subsequently revoke your consent and request that your child's information be removed from Escent Partners' active list. Please refer to the form for instructions and further information.
       <p> &nbsp; </p>
		  If you are a parent or guardian who has discovered that your child
		  under the age of 13 has submitted his or her personally identifiable
		  information without your permission or consent, Escent Partners will
		  make reasonable efforts to remove the information from its active
		  list, at your request. To request the removal of your child's
		  information, please contact the System Administrator associated with your child's user account.
       <p> &nbsp; </p>
		  Escent Partners encourages parents and guardians to spend time online with their children to become familiar with the types of content available on the Sites,
       the Services and the Internet generally.
	   </div>

      <div class="sectionTitle">
        VI. Family Educational Rights and Privacy Act (FERPA)
      </div>

      <div class="sectionText">
        The Family Educational Rights and Privacy Act (FERPA) (20 U.S.C. § 1232g; 34 CFR Part 99) is a Federal law that protects the privacy of student education records.
        The law applies to all schools that receive funds under an applicable program of the U.S. Department of Education.
        <p> &nbsp; </p>
        Tools owned by Escent Partners, or its Licensors, and which involve the collection and storage of student data conform to the Site's data security structure and conventions, are FERPA compliant, and do not inhibit a school's ability to comply with its FERPA obligations.
        <p> &nbsp; </p>
        Should you have a specific question or concern with regard to the Site's FERPA compliance, please contact the System Administrator associated with your User Account so that the
        issue can be understood, addressed, and resolved by the relevant parties (Escent Partners, Liscensor, School, District) in a timely matter.
      </div>

	   <div class="sectionTitle">
		 VII. Use, Disclosure, and Sharing of Information
	   </div>

	   <div class="subSectionTitle">
		 a. Non-Personally Identifiable Information
	   </div>

	   <div class="subSectionText">
	   	 Escent Partners, and its Licensors, use tools to share and analyze aggregated data (non-personally identifiable user information) and to facilitate community-wide collaboration among users of the Site.
	   </div>

	   <div class="subSectionTitle">
		 b. Personally Identifiable Information
	   </div>

	   <div class="subSectionText">
       Escent Partners uses information about you to deliver the Services that you request, to keep you informed about changes affecting the Site and the Services or your account, to inform you of offers in which you might be interested, to improve and enhance the Site and the Services, to prevent potentially prohibited or illegal activities, and to enforce our TOS.
       If you provide Escent Partners with personally identifiable information, we will take all reasonable and appropriate steps to protect it from unauthorized disclosure.
       <p> &nbsp; </p>
		    As stated in the TOS, you will be deemed to have consented to the disclosure to, and use by, a subsequent owner or operator of the Site or the Services, of any information about you contained in the Site database, if Escent Partners or one of its companies assigns its rights and obligations regarding any of your information at the time of a merger, acquisition, or sale of all or substantially all of Escent Partners' or such company's assets related to the Site or the Services to a subsequent owner or operator.
        In the event of such a merger, acquisition, or sale, your continued use of the Site or the Services signifies your agreement to be bound by the TOS and Privacy Policy of the Site or the Service's subsequent owner or operator.
       <p> &nbsp; </p>
		    Escent Partners and its affiliates and Licensors may work together in order to support portions of the Site for you. Escent Partners and its affiliates and Licensors will handle your personally identifiable information in accordance with this Privacy Policy.
       <p> &nbsp; </p>
		  Escent Partners will not share, sell, rent, or disclose any personally identifiable information that we have collected except as stated herein, including your personal telephone numbers, or in the following instances: 1) we have been given your consent to disclose; 2) we have previously informed you of the disclosure, including by means of our Privacy Policy or on Site, or through the Service where you provided your information;
       3) we are required by law, legal process, or court order to disclose; 4) disclosure is necessary to identify, contact, or bring legal action against someone who may cause or be causing harm to, or interference with, Escent Partners’s rights or property, other Site users, or anyone else; or 5) to respond to an inquiry, request or complaint that you have made.
       Escent Partners may also use IP addresses in cooperation with Internet service providers to identify users if we deem it necessary to comply with law, to enforce compliance with this Privacy Policy or our TOS, or to protect our sites, customers, or others.
       <p> &nbsp; </p>
		    Escent Partners reserves the right to retain personal information from closed accounts to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce the TOS, and take other actions otherwise permitted by law.
	   </div>

	   <div class="subSectionTitle">
		  c. User Disclosure of Information on the Site and the Services
	   </div>

	   <div class="subSectionText">
       The Site and the Services may enable you to share or otherwise disclose personal information.
       This Privacy Policy addresses only the use and disclosure of information Escent Partners collects from you, except as otherwise expressly indicated.
       Different rules may apply to the use or disclosure of your personal information, if you disclose such information to others on the Site or on other sites throughout the internet.
       We do not have the ability, nor will we attempt to control the privacy policies of third parties. You are subject to the privacy policies of those third parties, where applicable.
	   </div>

	   <div class="sectionTitle">
		  VIII. Our Commitment to Data Security
	   </div>

	   <div class="sectionText">
       The Site implements a robust multi-level authorization and data security structure, to which all of its tools and Services comform.
       While Escent Partners takes reasonable and appropriate precautions to protect your personally identifiable information from unauthorized disclosure and to prevent possible security breaches in our Web sites, Services, and database,
       no Web site, Internet transmission, computer system, or wireless connection is completely secure. Consequently Escent Partners cannot guarantee that unauthorized access, hacking, data loss, or other breaches will never occur.
       Your use of the Sites and Services is at your own risk. Escent Partners urges you to take steps to keep your information safe by memorizing your password or keeping it in a safe place (separate from your account information),
       logging out of your User Account, and closing your Web browser.
       <p> &nbsp; </p>
		    Whenever you add personal data and sensitive or confidential information to the Site database, Escent Partners will take commercially reasonable steps to protect the information by establishing a secure connection with your Web browser and by limiting all access to your data
        to tools that conform to the Site's data security structure and conventions. Escent Partners employs a security technology known as a secure-socket-layer ("SSL") to protect the transmission of all information to the site.
	   </div>

	   <div class="sectionTitle">
		  IX. Hyperlinks To and From Other Sites
	   </div>

	   <div class="sectionText">
	   	 Escent Partners sites may frame, and/or contain links to other Internet Web sites. Other sites may also reference, advertise, or link to other sites. Escent Partners does not endorse or sponsor other Web sites, is not responsible for the privacy practices or the content of sites not owned by Escent Partners,
       expressly disclaims any statements or assertions made on such Web sites, and denies all liability associated with your use of, and the content on, such other sites and advertisements.
	   </div>


	   <div class="sectionTitle">
		  X. Consent to Processing in the United States
	   </div>

	   <div class="sectionText">
	   	 By providing any personally identifiable information to Escent Partners, all users, including, without limitation, users in the member states of the European Union,
       fully understand and unambiguously consent to this Privacy Policy and to the collection, storage, and processing of such information in the United States of America.
	   </div>

	   <div class="sectionTitle">
		  XI. Contact Us Regarding Privacy
	   </div>

	   <div class="sectionText">
		  Escent Partners is dedicated to protecting your personally identifiable information and welcomes comments and questions on this Privacy Policy.
      Please direct all comments to the System Administrator responsible for your User Account.
	   </div>

	   <div class="sectionTitle">
		  XII. Notification of Changes
	   </div>

	   <div class="sectionText">
	   	  Escent Partners reserves the right to change this Privacy Policy and its TOS at any time.
       In case of any material change to the Privacy Policy, we will replace the "Privacy Policy" link that is located on the footer of every page of our site with a link entitled "Updated Privacy Policy" for no less than thirty (30) days.
       All changes to the Privacy Policy and/or TOS will be effective when posted, and your continued use of any Escent Partner Site or Service after the posting will constitute acceptance of, and agreement to be bound by, those changes.
	   </div>

	</div>
</div>