<div id="sidebar">
    <%= render :partial => 'join_sidebar' %>
</div>
<div style="float:left; width:615px;">
    <div class="title_large_orange" style="margin-bottom:15px;">
        APPLICATONS PROVIDERS
    </div>
    <div class="normal">
        If you already have a tool or would like to develop one for Escent Community, please contact us. 
        <p>
            &nbsp;
        </p>
        <strong>Reach a targeted audience… </strong>
        <p>
            &nbsp;
        </p>

        <strong> Contact Us to explore ways your Application might help the Escent Community. </strong>
        <p>
            &nbsp;
        </p>
    </div>
</div>
