<div id="sidebar">
   <%= render :partial => 'join_sidebar' %>
</div>
<div class="marketing_content">
	<div class="title_large_blue" style="margin-bottom:15px;">WHAT'S AN IWING?</div>
	<div class="normal">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper arcu quis magna. Pellentesque sagittis mollis orci. Morbi augue diam, sagittis id, interdum at, faucibus vel, dolor. Curabitur convallis, urna vitae semper dapibus, dolor justo blandit nibh, accumsan rutrum quam elit nec enim. Morbi at pede in massa pulvinar dictum. Morbi sodales. Pellentesque sed tortor. Integer tempus tempor sem. Quisque ligula quam, cursus at, scelerisque eu, aliquet ac, metus. Phasellus tellus mi, pretium eu, tempus quis, aliquam vitae, turpis. Etiam blandit. Duis lacinia pede a dolor. Mauris ut diam tempus mauris tempus feugiat.
		<p>&nbsp;</p>
Sed ut est. Pellentesque erat augue, elementum non, laoreet eu, dapibus ac, libero. Donec molestie justo eget ligula. Duis cursus rutrum lacus. Vestibulum hendrerit nunc a eros. Cras interdum nisl id turpis. Donec quis nibh. Nulla vel metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Nullam vel massa nec ante fermentum gravida. Donec eget orci id lorem tincidunt adipiscing.
		<p>&nbsp;</p>
Aenean vehicula rhoncus lorem. Etiam odio. Nulla varius. Nam pellentesque. Aliquam est velit, congue nec, molestie non, eleifend sit amet, quam. Donec vehicula tristique diam. Duis vulputate sem ac arcu. Morbi porta. Etiam ligula. Aliquam erat volutpat. Sed ut nibh. Cras lacinia nisl sit amet mi. Donec consequat, nisi ac egestas placerat, ipsum nunc vulputate ante, semper tristique diam libero at libero. Aliquam faucibus, magna nec mollis lobortis, risus eros semper nisi, vel consequat risus erat vel orci.
		<p>&nbsp;</p>
Get started with your customized iWing today.
	</div>
	<div style="text-align:right; padding:25px 50px 0px 0px;">
		<%= link_to(image_tag("/images/register.jpg"), {:controller => "organizations", :action => "register"}) %>
	</div>
</div>
