<h2>Update Outreach Priority Group</h2>
<% form_remote_tag(:url => {:action => :update , :outreach_priority_group_id => @outreach_priority_group.public_id}) do -%>
	<%= render :partial => "form" %>
<% end %>