<p id="out_pro_<%= @outreach_priority.id %>"><%= check_box_tag "remove_outreach_priority[]" , value = @outreach_priority.id ,checked = false  %> 
   <%= @outreach_priority.name %>
<%= hidden_field_tag "outreach_priority_group[outreach_priority_ids][]" , @outreach_priority.id %>
</p>