<div class="formBox">
	<h2>Edit</h2>
	<%= form_for :submission do %>
	<%= render :partial => "form" %>
	<p>
		<%= submit_tag "Save", :class => "submit fsn-button ui-button ui-state-default ui-corner-all" %> 
		<button class="change fsn-button ui-button ui-state-default ui-corner-all">Change</button>
	</p>
	<% end %>	
</div>