<div class="formBox">
	<h2>Enter Assessment ID To Update</h2>
	<%= form_for (:q_log, :url => {:controller => "/master/act_submissions", :action => :q_perf_baselines_recalc}) do |form|%>

<p>
	<%= label_tag 'begin_id', 'Begining ID:' %>
	<%= text_field :q_log, :ass_id %>
</p>

<p>
	<%= submit_tag "Update", :class => "submit fsn-button ui-button ui-state-default ui-corner-all" %> 
</p>
	<% end %>	
</div>