<div class="FormRow">
    <div class="FormRowTitle">&nbsp;</div>
    <div class="FormRowData">
      <ul>
        <% @outreach_priorities.each do |outreach_priority| -%>
        <li>
          <input type="hidden" value="<%= outreach_priority.id %>" name="topic[outreach_priority_ids][]" />
          <%= outreach_priority.name %> [<%= link_to "X", :controller => 'admin/topics', :action => :remove_outreach_priority, :organization_id => @current_organization, :id => @topic, :outreach_priority_id => outreach_priority.id %>]
        </li>
        <% end -%>
      </ul>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function() {
    jQ("#outreach_priorities_warp_topic a").each(function() {
      jQ(this).click(function() {
        url = jQ(this).attr("href");
        jQ.post(url, {}, null, "script");
        return false;
      })
    })
  })
</script>