<table>
	<tbody id="topic_content">
		<%= render(:partial => "content", :collection => @topic.contents) %>
	</tbody>
</table>
<script type="text/javascript">
jQ(document).ready(function() {
	var save_contents = function() {
		var items = jQ(".content-list-item");
	  var content_ids = new Array();
		var $topic_content = jQ("#topic_content");
		items.each(function() {
			content_ids.push(this.id);
		})
		jQ.post('<%= url_for :controller => :topics, :action => :sort_content, :id => @topic, :organization_id => @current_organization %>', {'content_ids[]':content_ids}, function(data) {
			$topic_content.css('background', '#f0f0e8')
			.fadeTo('slow', 0.5, function() {
				$topic_content.css('background', '#fff')
				$topic_content.fadeTo("slow", 1)
				$topic_content.parent("table").parent("div").html(data)
				$topic_content.css("padding", "0")
			})						
		})
	}
	
	jQ("#topic_content").sortable({
		items : 'tr',
		placeholder : 'ui-state-highlight',
		update : save_contents
	}).disableSelection();

	function showDialogContent(title, content_id) {
		$dialog = jQ("#view-content");
		// next line is broken.		
		$dialog.attr("title", title);
		jQ.post('<%= url_for :controller => :content, :action => :show, :organization_id => @current_organization %>', {'id':content_id}, function(data) {
			$dialog.html(data);
			$dialog.dialog('open');
		})
	}

	var addButtonAction = function() {
		jQ("button", jQ("#topic_content")).each(function() {
			jQ(this).click(function() {
				var title = jQ(this).parent("td").parent("tr").children("td").eq(0).text();
				var content_id = jQ(this).parent("td").parent("tr").attr("id");
				showDialogContent(title, content_id)
				return false;
			})
		})
	}
	
	addButtonAction();
})
</script>