<div class="topics_panel_title clear">

</div>
<%= link_to "Back", {:update => "topics_panel", :url => {:controller => :topics, :action => :index, :organization_id => @current_organization, :classroom_id => @classroom.id}, :remote => true } %>
<div class="Form clear">
<%= form_for(:topic, @topic, :url => {:controller => :topics, :action => :update, :organization_id => @current_organization, :classroom_id => @classroom.id, :id => @topic}, :html => {:id => :registration_form, :class => "ajax"}) do |form| %>
	<%= render :partial => "form", :locals => {:form => form, :tag_name => "Save"} %>
<% end -%>
<%= link_to "Back", {:update => "topics_panel", :url => {:controller => :topics, :action => :index, :organization_id => @current_organization, :classroom_id => @classroom.id}, :remote => true} %>
</div>