<div class="topics_panel_title clear">
	<h4>Create Unit</h4>
</div>
<%= link_to "Back", {:update => "topics_panel", :url => {:controller => :topics, :action => :index, :organization_id => @current_organization, :classroom_id => @classroom.id}, :remote => true} %>
<div class="Form clear">
<%= form_for(:topic, @topic, :url => {:controller => :topics, :action => :create,:organization_id => @current_organization,:classroom_id => @classroom.id}, :html => {:id => :registration_form, :class => "ajax"}) do |form| %>
	<%= render :partial => "form", :locals => {:form => form, :tag_name => "Create"} %>
<% end -%>
<%= link_to "Back", {:update => "topics_panel", :url => {:controller => :topics, :action => :index, :organization_id => @current_organization, :classroom_id => @classroom.id}, :remote => true} %>
</div>