
@import "application-variables.scss";


.ifa_container {
  width: 100%;
  margin: 0 auto;
}

.assess_container {
  width: 100%;
  margin: 0 auto;
  background:$page_background;
}
.assess_header_left {
  width: 100%;
  padding-bottom: 0em;
  padding-left: 1em;
  padding-top: 1em;
  float:left;
}
.assess_header_ctr {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:1em;
  word-wrap:break-word;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  color:$blue_title
}
.assess_header_right {
  width: 100%;
  padding-bottom: 0em;
  padding-right: 1em;
  padding-left:4em;
  padding-top: 1em;
  float:right;
}
.assess_header_text {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:1em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:13px;
  color:$blue_title
}
.assess_to_take {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  font-weight:normal;
  font-size:13px;
  color:$blue_title
}
.assess_to_take_hdr {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  font-weight:bold;
  font-size:12px;
  color:$dark_text;
}

.assess_form_title {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:1em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:14px;
  color:$dark_text
}
.assess_form_end {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:12px;
  color:$blue_text;
}
.eoa {
  font-size:14px;
  color:$red_text;
  text-align:center;
  padding-top:1em;
  padding-bottom:0em;
  font-style: italic;
}
.assess_form_left {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:12px;
  color:$dark_text;
}

.assess_submit_row {
  padding-bottom:3em;
  padding-left:0em;
  padding-top:2em;
  font-size:12px;
}

.assess_button {
  width:100%;
  padding-bottom:0em;
  padding-left:1em;
  padding-top:0em;
  font-size:12px;
}

.assess_button_label {
  padding-left:2em;
  font-size:10px;
  font-weight:normal;
  font-style: italic;
  color:$red-text;
}

.question_label {
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:0em;
  text-align:center;
  text-decoration: underline;
  font-weight:bold;
  font-size:12px;
}
.question_reading {
  width:100%;
  padding-bottom:1em;
  padding-left:3em;
  padding-right:3em;
  padding-top:0em;
  text-align:left;
  font-family:Georgia, "Times New Roman", Times, serif;
}
.question_image {
  width:100%;
  padding-bottom:1em;
  padding-left:3em;
  padding-right:3em;
  padding-top:0em;
  text-align:center;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.question_pdf {
  width:100%;
  padding-bottom:1em;
  padding-left:3em;
  padding-right:3em;
  padding-top:0em;
  text-align:left;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.question_box {
  width:90%;
  margin: 0em 0em 0em 3em;
  border: 1px $dark-text;
  border-style: dashed;
  background:$question_background;
  border-radius: 5px;
  padding: 2em;
  text-align:left;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.question_text {
  width:100%;
  padding-bottom:0em;
  padding-left:3em;
  padding-right:3em;
  padding-top:0em;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color:$dark_text;
}
.question_check {
  width:10%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:1em;
  float:right;
  vertical-align:top;
  font-size:12px;
  color:$dark_text;
}
.question_choice {
  width:90%;
  padding-bottom:0em;
  padding-left:1.5em;
  padding-top:1em;
  vertical-align:top;
  text-align:left;
  font-size:13px;
  color:$dark_text;
}

.submission_success{
  width:100%;
  padding-bottom:0em;
  padding-left:0em;
  padding-top:1em;
  vertical-align:top;
  text-align:center;
  font-size:13px;
  color:$red_text;
}

.suggested_topics_list {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:12px;
  color:$dark_text
}

.ifa_user_panel {
  padding-left:0em;
  padding-top:1em;
  text-align:center;
  word-wrap:break-word;
  overflow:hidden;
  width:100%;
  padding-bottom:.5em;
  font-size:14px;
  color:$dark_text
}
.ifa_sat_button {
  padding-left:.5em;
  padding-top:.4em;
  padding-bottom:0em;
}
.ifa_sat_view_panel {
  padding-left:0em;
  padding-top:0em;
  text-align:left;
  vertical-align:top;
  padding-bottom:3em;
  font-size:14px;
  color:$dark_text
}
.ifa_panel_title {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:14px;
  color:$blue_title
}

.ifa_panel_list {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  font-weight:normal;
  font-size:12px;
  color:$dark_text
}

.summary_dashboard_panel {
  width:100%;
  padding-bottom:2em;
  padding-left:2em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  font-weight:normal;
  font-size:10px;
  color:$dark_text
}
.toggle_filter_row {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  vertical-align:top;
  font-weight:normal;
  font-size:10px;
  color:$dark_text;
}
.summary_dashboards {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
  font-size:10px;
  color:$dark_text;
}
.summary_dashboard_row {
  width:100%;
  padding-bottom:1em;
  padding-left:3em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
  font-size:14px;
  color:$dark_text;
}
.repo_select {
  width:100%;
  padding-right:0em;
  font-size:10px;
  color:$dark_text;
}
.repo_submit {
  width:100%;
  padding-left:1em;
  font-size:10px;
  color:$dark_text;
}

.ifa_teacher_box {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  font-weight:bold;
  font-size:14px;
  color:$blue_text
}
.ifa_teacher_review {
  width:100%;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:center;
  font-weight:normal;
  font-size:14px;
  color:$red_text
}
.pending {
  width:100%;
  max-height: 300em;
  background-color: $panel-background;
  overflow: scroll;
  padding-bottom:1em;
  padding-left:0em;
  padding-top:0em;
  word-wrap:break-word;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
  font-size:11px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color:$dark_text
}
.pending .created {
  width:20%;
  text-align:center;
}
.pending .user {
  width:15%;
}
.pending .assessment {
  width:53%;
}
.pending .review {
  font-size:11px;
}
.teacher_review_list {
  font-size:11px;
  background-color: $panel-background;
  overflow: scroll;
}
.student_row {
  width:1%;
}
/*  -----    */

.panel-palette_1 {
  color: $light_text;
  text-align: center;
  background-color: $palette_1;
  border-color: #ddd;
}

.panel-palette_2 {
  color: $light_text;
  text-align: center;
  background-color: $palette_2;
  border-color: #ddd;
}
.panel-palette_3 {
  color: $light_text;
  text-align: center;
  background-color: $palette_3;
  border-color: #ddd;
}

.panel-palette_4 {
  color: $light_text;
  text-align: center;
  background-color: $palette_4;
  border-color: #ddd;
}

.panel-palette_5 {
  color: $light_text;
  text-align: center;
  background-color: $palette_5;
  border-color: #ddd;
}
