<%= form_for(:user, :url => user_password_change_path(:organization_id => @current_organization)) do |form| -%>
  <div class="row user_password_row">
    <%= password_field :user, :password, :size => 20, :placeholder => 'New Password' %>
  </div>
  <div class="row user_password_row">
    <%= password_field :user, :password_confirmation, :size => 20, :placeholder => 'Confirmation' %>
  </div>
  <div class="user_password_button">
    <%= form.submit 'Change Password', :class =>"button_orange" %>
  </div>
<% end %>

