
  <div class = "registration_success_box">
      <div class="row instruct">
        You're Registered
        <span class="label"><%= @user.full_name %></span>
        <% if @user.superuser? %>
          <span class="superuser">You Are A Superuser</span>
        <% end %>
     </div>
    <% if @user.organization.app_enabled?(CoopApp.ifa) %>
      <div class="row instruct2">
        Please update your guardian information below.
      </div>
    <% end %>
    <div class="row instruct2">
      Sign In Above With ID:
      <span class="link"><%=@user.email_address%></span>
    </div>
    <% if @user.organization.app_enabled?(CoopApp.ifa) %>
      <hr>
      <%= render :partial =>  "guardians", :locals=>{:student=>@user, :function => 'Add'}%>
      <hr>
    <% end %>
  </div>
