<div style= "width:700px;">
    <div class="title_large_red">Dear <%= @user.first_name %>,<br/><br/>
    	Thank you for joining the Escent community from <%=@user.organization.name%>.
	 	<br/><br/>
      <% if @user.superuser? %>
        You Are A Superuser<br/><br/>
      <% end %>
	 </div>
    <div class="normal" style="margin-top:12px; padding-left:20px; font-size: 12px;">
		<p style="color:#c73914;"> Your Sign-in ID has been activated.</p>	<br/>	
		<p style="color:#c73914;"> Close This Browser Window and Sign-in From Your Original Window</p><br/>			
		<p style="color:#c73914;"> Or</p></br/>
		<p style="color:#c73914;"> Click <%= link_to "Here", {:controller => "/site/site", :action => :static_organization, :organization_id => @user.organization} %> and Sign-in using your email address.</p>  	<br/>	

	</div>
	<div style="color:#c73914;">
  		<p>Thanks again!</p>  		
	</div>
</div>
