<div style= "width:700px;">
    <div class="title_large_red"><br/><br/>
    	You're Registered
      <span class="title_large_blue"><%= @user.full_name %></span>
	 	<br/><br/>
      <% if @user.superuser? %>
        You Are A Superuser<br/><br/>
      <% end %>
	 </div>
  <div class="title_large_red">Next Step: Click
    <span class="title_large_blue" style="text-decoration:underline"><%= link_to "Here", organization_view_path(:organization_id => @user.organization) %></span>
    And Sign In With User ID:
    <span class="title_large_blue"><%=@user.email_address%></span>
    <br/><br/>
  </div>
	<div class="title_large_red">
  		Thanks!
	</div>
</div>
