<div id="footer" class="header_footer_text">
  <table   style="width:100%; border:0px ">
    <tbody>
    <style type="text/css" media="screen">
      table,tr,td {border:0px ;}
    table tr:hover{
        background-color: transparent;
      }
      </style>
      <tr style=" border:0px ">
        <td  style="text-align:center; border:0px; vertical-align:middle;">
         <%= link_to "Precision School Improvement", "http://www.precisionschoolimprovement.com/"%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
