<div class="row clear">
  <div class="col-md-4 masthead_logo">
    <% master_org = @current_provider ? @current_provider : Organization.default -%>
    <% unless master_org.web_site_url.nil? %>
      <%=  link_to (image_tag(master_org.logo.url, :class => "logo", :alt => master_org.name)), master_org.web_site_url, :target => "_blank"  %>
    <% else -%>
      <%= image_tag(master_org.logo.url, :class => "logo", :alt => master_org.name, :height => 50) %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= render :partial => "shared/masthead_stats", :locals=>{:db_search => false} %>
  </div>
</div>
