<span>My Profile</span>
  <ul style="width: 80%;" class="hdr-dropdown-content">
    <li ><%= link_to "Edit Profile", user_edit_path(:organization_id => org, :id => user) %></li>
    <li ><%= link_to "My Surveys", my_survey_view_path(:organization_id => org), {:target => "_blank"}  %></li>
  </ul>