<% if org.panel_blog_featured  -%>
  <%= link_to "Discussions", blog_view_path(:organization_id=> org, :blog_id => org.panel_blog_featured, :blog_app=> CoopApp.blog),{:target=>"_blank"}%>
<% else -%>
  <span><%= org.panel_blogs_notfeatured.empty? ? ' ' : 'Discusssions' %></span>
<% end -%>
<ul style="width: 200%;" class="hdr-dropdown-content">
  <% if org.panel_blog_featured -%>
    <li style="width: 330px;">
      <%= link_to org.panel_blog_featured.title, blog_view_path(:organization_id=> org, :blog_id => org.panel_blog_featured, :blog_app=> CoopApp.blog),{:target=>"_blank"}%>
    </li>
  <% end -%>
  <% org.panel_blogs_notfeatured.each do |blog| -%>
    <li >
      <%= link_to blog.title, blog_view_path(:organization_id=> org, :blog_id => blog, :blog_app=> CoopApp.blog),{:target=>"_blank"}%>
    </li>
  <% end -%>
</ul>
