	<a href="#" >Testimonials</a>
	<ul>
		<% @current_organization.testimonials_active.each do |blog| -%>
			<li style="width: 330px;">
        <%= link_to blog.title, ep_path(:organization_id => @current_organization, :blog_id => blog.public_id) %>
      </li>
		<% end -%>
	</ul>
