<% if @current_user -%>
<span width=600px, style = "margin-left:0px">
	<br/>
<a href="javascript:void(0)" class="share_content">Share With Others</a>

<div class="share_content_form_warp" style="display:none;">

	<div class="share_content_form">
		<div class="share_content_form_title">Share</div>
		<input type="hidden" name="email_archive[content_public_id]" value="<%= content.public_id %>" />
		<p>
			<label for="name">Email to:</label>
			<input class="text" id="email_archive_sender_email" name="email_archive[sender_email]" size="30" type="text" />
		</p>
		<div class="share_content_form_notice">Use commas for multiple emails.</div>
		<p>
			<label for="name">Message:</label>
			<textarea cols="40" id="email_archive_plain_body" name="email_archive[plain_body]" rows="8"></textarea>
		</p>
		<div class="share_content_form_submit clear">
			<button class="fsn-button ui-button ui-state-default ui-corner-all">cancel</button>
			<button class="fsn-button ui-button ui-state-default ui-corner-all">send</button>
		</div>
	</div>
</div></span>
<% else -%>
<a href="javascript:void(0)" class="share_content_login_btn">Share</a>
<% end -%>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ(".share_content_login_btn").click(function () {
			if (jQ("#share_content_form").is(":hidden")) {
			  jQ("#share_content_form").slideDown("slow");
			} else {
			  jQ("#share_content_form").slideUp("fast");
			}
	  });		
		var resetShareContentFormWarp = function() {
			jQ('.share_content_form_warp').hide();
			jQ('.share_content').show();
		}
		jQ('.share_content_form_submit').find('button:odd').click(function() {
			var $share_content_form_warp = jQ(this).parents('.share_content_form_warp');
			var $content_public_id = $share_content_form_warp.find("input[name='email_archive[content_public_id]']");			
			var $sender_email = $share_content_form_warp.find("input[name='email_archive[sender_email]']");
			var $plain_body = $share_content_form_warp.find("textarea");
			var content_public_id = $content_public_id.val();
			var sender_email = $sender_email.val();
			var plain_body = $plain_body.val();
			share_url = '<%= resource_share_url(:organization_id => @current_organization) %>';
			jQ.post(share_url, {
				'id':content_public_id,
				'email_archive[sender_email]':sender_email, 
				'email_archive[plain_body]':plain_body}, function() {
					resetShareContentFormWarp();
			})
		})
	})
</script>
<script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
				var resetShareContentFormWarp = function() {
					jQ('.share_content_form_warp').hide();
				}
				jQ(".share_content").click(function () {
					if (jQ(".share_content_form_warp").is(":hidden")) {
					  jQ(".share_content_form_warp").slideDown("slow");
					} else {
					  jQ(".share_content_form_warp").slideUp("fast");
					}
			  });	
        jQ('.share_content_form_submit button:even').click(function(){
            resetShareContentFormWarp()
        });
    })
</script>
