<div id ="rubric_<%=elt_case.public_id%><%=element.public_id%>">
  <table style="width:98%;margin-top:0px;">
		<tbody>
			<tr>
				<td style = "vertical-align:top; padding-bottom:5px; padding-left:2px; ">
					<% if (std_rubric ? element.elt_standard.rubric? : element.rubric?) %>
            <% rubrics = std_rubric ? element.elt_standard.rubrics.active : element.rubrics.active %>
              <% if elt_case.updatable?(@current_user)-%>
              <span style = "font-weight:normal; color:#000000; text-align:center; font-size:12px">
                <%=  select(:e_rating, element.id,  rubrics.collect{|r| [truncate(r.name, :omission=>"", :length=>12), r.id]}<<['No Rating',0], :prompt=> elt_case.element_rating(element)) %>
              </span>
            <% end %>
					<% else %>
            No Rubric
          <% end -%>
				</td>
			</tr>
		</tbody>
	</table>
</div>
