<div class="Form clear">
  <%= form_for(:elt_case, :url => elt_case_update_path(:organization_id => @current_organization, :elt_case_id => elt_case)) do |form| %>
    <%= render :partial => "/apps/learning_time/form_case_submit_buttons", :locals => {:elt_case => elt_case} -%>
    <br/>
    <% elt_case.cycle_elements(:not_empty=>true).each do |element| -%>
      <% unless element.elt_indicators.active.for_activity(elt_case.elt_type).empty? && false %>
        <%= elt_case.activity.master? ? (render :partial => "/apps/learning_time/element_indicators_master", :locals => {:elt_case => elt_case, :element=> element}) :
                (render :partial => "/apps/learning_time/element_indicators_b", :locals => {:elt_case => elt_case, :element=> element})-%>
      <% end %>
    <% end %>
    <br/>
    <%= render :partial => "/apps/learning_time/form_case_submit_buttons", :locals => {:elt_case => elt_case} -%>
  <% end %>
</div>