
<table style="width:90%;margin-top:0px; background-color: #ffffff; border:0px solid #ddd;">
  <tbody>
    <% comments.group_by{|c| c.elt_case.activity}.each do |activity, evidences| -%>
      <tr style="border-top:1px solid #ddd; ">
        <td colspan=2 style=" border:0px solid #ddd; font-weight:bold; vertical-align:bottom;text-align:left; font-size:10px" >
          <%= activity.name %>
        </td>
      </tr>
      <% evidences.each do |evidence| %>
        <tr>
          <td style=" width:15%; border:0px solid #ddd; line-height:1.2em; padding-left:5px; padding-top:2px; padding-bottom:3px; vertical-align:top;text-align:left; font-size:10px" >
            <%= evidence.elt_case.submit_date.nil? ? "Date?" : evidence.elt_case.submit_date.strftime('%b %d, %y') %>
            <br/><%= evidence.elt_case.user ? evidence.elt_case.user.last_name : "" %>
          </td>
          <td style=" border:0px solid #ddd; line-height:1.2em;  padding-left:1px; padding-top:2px; padding-bottom:3px; vertical-align:top;text-align:left; font-size:10px" >
            <%= evidence.note %>
          </td>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>
</table>

