<div id="options">
	<div style ="text-align:center; color: #2061a5; font-size:14px; margin-top:5px; font-weight:normal">
		<strong><%= @current_application.app_name(:provider=>@current_provider).titleize %> Options</strong>
	</div>
	<div style= "margin-top:40px;margin-left:30px;">
		<%= !@current_provider.nil? ? (render :partial => "/apps/learning_time/option_cycles") : ("No "+ @current_application.name + " Provider") %>
	</div>
	<br/>
</div>
