
<div style="width:780px; width:fixed;border:0px solid #ddd; ">

	<%= render :partial => "/apps/learning_time/manage_elements", :locals => {:framework => @current_organization.elt_framework, :app=>@app}%>

</div>
