
<div style="width:780px; border:0px solid #ddd; ">
	<%= render :partial => "/apps/learning_time/manage_indicators", :locals => {:framework => @framework, :to_activities => @activities_for, :from_activities => @activities_from, :element => nil, :activity => nil, :from_activity => nil, :to_element => nil, :app=>@current_application}%>
</div>
