
<div style="width:780px;border:0px solid #ddd; ">
	<%= render :partial => "/apps/learning_time/manage_cycles", :locals => {:framework => @current_organization.elt_framework, :app=>@app}%>
</div>
