<div >
  <% if form = 'new'%>
    <%= render :partial => "/apps/learning_time/show_case_b", :locals => {:elt_case => @elt_case, :app => @app} -%>
  <% else %>
   	<%= render :partial => "/apps/learning_time/show_case", :locals => {:elt_case => @elt_case, :app => @app} -%>
  <% end %>
</div>