
<div style="width:780px; width:fixed;border:0px solid #ddd; ">
	<span style = "color: #C73914; font-size:10px;">
		<u>NOTICE:</u>  This is a corrective maintainance function to correct a Case's School and/or Cycle.<br/>
	</span>

	<%= render :partial => "/apps/learning_time/transfer_cases", :locals => {:framework => @current_organization.elt_framework, :base_org => nil, :app=>@app}%>

</div>
