<div id="assessment_submission" >
  <div class="row">
    <div class="col-md-2"></div>
    <div class= 'col-md-5 '>
      <% button_class = (@current_teacher.nil? || (view_mode == 'Preview')) ? 'btn btn-primary btn-xs disabled' : 'btn btn-primary btn-xs enabled' %>
      <div class=" assess_button">
        <input type="hidden" name="teacher_id" value="<%= @current_teacher.nil? ? 0 : @current_teacher.id %>">
          <%= submit_tag ('Submit To ' + (@current_teacher.nil? ? 'Teacher' : @current_teacher.last_name)), :id=>'btnSubmit', :class => button_class, :confirm => "Are You Sure?" %>
      </div>
    </div>
    <div class= 'col-md-5 '>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#formAssess").submit(function(){
            jQ("#btnSubmit").attr("disabled", true);
            return true;
          });
        });
      </script>
    </div>
  </div>
</div>




