<div id="review_submission" >
  <div class="row">
    <div class="col-md-2"></div>
    <div class= 'col-md-5 '>
      <div class=" assess_button">
        <%= submit_tag 'Submit Review',:class => 'btn btn-primary btn-xs enabled', :confirm => "Are You Sure?" %>
        <span class='assess_button_label'>
          <%= @current_user.last_name%>
        </span>
      </div>
    </div>
    <div class= 'col-md-5 '></div>
  </div>
</div>




