<div id="review_classroom" >
  <% @current_classroom.ifa_dashboards.by_date.each do |dashboard| %>
      <%= render :partial =>  "teacher_classroom_dashboard", :locals=>{:dashboard => dashboard, :dashboard_display => false} %>
  <% end %>
</div>