<div class="teacher_review_period_box ">
  <div class= "precision_prep_review_panel">
    <div class="row">
      <div class="col-md-12">
        <%= @current_user.full_name %> Assessment History, <%= pluralize(@dashboard_subjects.size, ' Subject') %>
      </div>
    </div>
  </div>
</div>
<% if !@dashboard_subjects.empty? %>
  <div class="precision_milestone_panel">
    <div class="precision_prep_review_box">
      <% @dashboard_subjects.each do |sub| -%>
        <div class="subject_growth_box">
          <div class="row subject_growth_row">
            <div class="col-md-12">
                <%= sub.name.titleize.upcase %>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12">
              <div class="subject_growth_row">
                <%= render :partial  => "ifa/ifa_dashboard/list_subject_dashboards", :locals=>{:subject => sub, :entity_dashboards => @entity_dashboards[sub], :entity => @current_user, :view_code=>'S' } %>
              </div>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
<% end %>
