<%= form_for(:act_submission, :url => ifa_submission_review_final_path(:organization_id => @current_organization, :classroom_id => @current_classroom.id,
    :period_id => (@current_classroom_period.nil? ? nil : @current_classroom_period.id), :topic_id => (@current_topic.nil? ? nil : @current_topic.id),
     :act_submission_id => @current_submission.id, :reviewer_id => @current_user.id)) do |form| -%>
    <%= render :partial => "assessment_form",
               :locals=>{:view_mode => 'Review',
                         :form_heading => (@current_classroom.name.upcase + ' Assessment Review'),
                         :form_left => (@current_submission.teacher ? @current_submission.teacher.last_name : 'Former Teacher'),
                         :form_time => @current_submission.created_at,
                         :submission => @current_submission,
                         :organization => @current_submission.organization,
                         :classroom => @current_submission.classroom,
                         :classroom_period => @current_classroom_period,
                         :topic => @current_topic,
                         :user => @current_submission.user,
                         :assessment => @current_submission.act_assessment,
                         :form => form
               } %>
    <% if !@current_submission.final? %>
      <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-8 assess_submit_row">
          <%= render :partial => "submit_review_button"%>
        </div>
        <div class="col-md-2" ></div>
      </div>
    <% end %>
    <hr>
<% end -%>