
<%= form_for(:act_submission, :url => ifa_submission_submit_path(:organization_id => @current_organization, :classroom_id => (@current_classroom.nil? ? nil : @current_classroom.id),
                                                                 :topic_id => (@current_topic.nil? ? nil :@current_topic.id), :period_id => (@current_classroom_period.nil? ? nil : @current_classroom_period.id),
                                                                 :act_assessment_id => @current_assessment.id, :begin_time => @begin_time), html: { id: "id"}) do |form| -%>
    <%= render :partial => "assessment_form",
             :locals=>{:view_mode => @view_mode,
                       :form_heading => (@view_mode == 'Take' ? @current_classroom.name.upcase  : 'Assessment Preview'),
                       :form_left => (@view_mode == 'Take' ? @current_classroom_period.teacher_list  : 'Teacher Names'),
                       :form_time => Time.now,
                       :submission => @current_submission,
                       :organization => @current_organization,
                       :classroom => @current_classroom,
                       :classroom_period => @current_classroom_period,
                       :topic => @current_topic,
                       :user => @current_user,
                       :assessment => @current_assessment,
                       :form => form
             } %>
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-8 assess_submit_row">
      <%= render :partial => "submit_assessment_button", :locals=>{:view_mode => @view_mode} %>
    </div>
    <div class="col-md-2" ></div>
  </div>
    <hr>
<% end -%>