<div class="row repo_edit_box">
  <% if !@current_assessment.nil?%>
    <%= form_for(:act_assessment,
                 :url => ifa_repo_assessment_create_path(:organization_id => @current_organization, :act_subject_id => @current_subject.id,
                                                       :act_assessment_id => @current_assessment.id, :function => @function)) do |form| -%>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          Assessment Name
        </div>
        <div class="col-md-9 repo_text_field">
          <%= text_field :act_assessment, :name, :size => 40, :placeholder => 'Enter Name', :value => @current_assessment.name  %>
        </div>
      </div>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          Comment
        </div>
        <div class="col-md-9 repo_text_field">
          <%= text_field :act_assessment, :comment, :size => 60, :placeholder => 'Enter Comment', :value => @current_assessment.comment  %>
        </div>
      </div>
      <div class="row repo_button_row">
        <div class="col-md-6">
          <%= form.submit @function + ' Assessment', :class =>"update_button button_blue" %>
        </div>
        <div class="col-md-6"></div>
      </div>
    <% end %>
  <% end %>
</div>