<h2>Add a Role</h2>
<div class="mempro_box clear">
	<% form_remote_tag(:url => {:action => :new, :organization_id => @current_organization},  :update => "our_family_panel") do %>
	<%= render :partial => "form" %>
	<div class="FormRow submit_warp">
		<%= submit_tag "Add", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
	</div>
	<% end %>	
</div>
<div style="float:left; width:100%; padding:10px; text-align:center;">
<%= link_to "Back", :update => "our_family_panel", :url => {:controller => :our_family, :action => :roles, :organization_id => @current_organization}, :remote => true, :html => {:class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:3px; text-decoration:none;", :method => :get} %>
</div>