<div class="topics_panel_title clear" style ="font-weight:bold;color:#2061a5; font-size:14px;">
	<%= render :partial => "/admin/our_family/new_user_authorization", :locals => {:user => @user}%>
</div>