<thead>
	<tr>
		<th>Unverified Users</th>
		<th></th>			
	</tr>
</thead>
<tbody>
	<% for user in @users do -%>
	<tr>
		<td>
			<%= user.full_name %>
		</td>
		<td>
		  <!--<%#= button_to_remote "verified", {:update => "unverified_users", :url => {:action => :verified, :organization_id => @current_organization, :user_id => user.id}}, :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>-->
		</td>
	</tr>
	<% end -%>
</tbody>