<div>
	<% unless @role.users.size.zero? %>
	<table id="roles" class="tablesorter" style="width:99%;">
		<thead>
			<tr>
				<th></th>
				<th style="width:400px;">Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<% for user in @role.users do -%>
			<tr>
				<td width=40px, style="padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px"><%= button_to_remote "Remove", {:update => "our_family_panel", :url => {:controller => :our_family, :action => :delete_user_from_role, :organization_id => @current_organization, :user_id => user, :role_id => @role}, :confirm => "Are you sure?"}, :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>
				<td><%= link_to user.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => user}, {:target => "_blank"} %></td>
				<td><%= user.preferred_email %>
			</td>		
			</tr>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		<strong>No Users Found With This Role</strong>
	<% end -%>

</div>
<div style="float:left; width:100%; padding:10px; text-align:center;">
	<br/><%= link_to_remote "Back", :update => "our_family_panel", :url => {:controller => :our_family, :action => :roles, :organization_id => @current_organization}, :html => {:class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:3px; text-decoration:none;", :method => :get}  %>
</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>