<div id="manage_benchmarks">
  <% if true || @current_standard == @current_provider.master_standard %>
    <div class="row standard_row">
      <div class="strand_label">
        Manage <%= @current_standard.abbrev + " " + @current_subject.name + ' Benchmarks' %>
      </div>
    </div>
    <div class="row standard_row">
      <% @strands.each do |strand| %>
          <%= render :partial =>  "manage_benchmarks_strand", :locals=>{:strand => strand}%>
      <% end %>
    </div>
  <% else %>
    <div class="row standard_row">
      <div class="strand_label">
        Benchmarks Are Defined Only For  <%= @current_provider.master_standard.name %>
      </div>
    </div>
  <% end %>
</div>