
@import "application-variables.scss";
@import 'bootstrap';

.star_achievement {
  @extend .glyphicon;
  @extend .glyphicon-star;
  color:$gold_star;
  padding-right:0em;
  font-size:14px;
}
.wrench_work {
  @extend .glyphicon;
  @extend .glyphicon-wrench;
  color:$blue_wrench;
  padding-right:0em;
  font-size:14px;
}

.ifa_modal_header {
  color:$red_text;
  font-weight:bold;
  text-align:left;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size:16px;
}

.ifa_modal_title {
  margin-top:1em;
  margin-bottom:1em;
  color:$blue_text;
  font-weight:bold;
  text-align:left;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size:14px;
}
.ifa_modal_box {
  margin:0em 4em 0em 4em;
  line-height:1.5em;
  color:$dark_text;
  font-weight:normal;
  text-align:left;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:16px;
}
.ifa_modal_row {
  padding-bottom:1em;
}

.ifa_container {
  width: 100%;
  margin: 0 auto;
}

.dashboard_box {
  padding:0em 0em 0em 0em;
  background-color:white;
  border:2px solid #ddd;
}
.dashboard_table {
  margin:2em 0em 2em 2em;
  background-color:white;
}

.dashboard_levels {
  color:$dark_text;
  padding: 1em 0em 1em 0em;
  border:1px solid #ddd;
  vertical-align:middle;
  text-align:center;
  font-size:12px;
  font-weight:normal;
}

.dashboard_cells {
  padding: 1em 0em 1em 0em;
  border:1px solid #ddd;
  vertical-align:middle;
  text-align:center;
  line-height:1.3em;
  font-size:14px;
  font-weight:normal;
}

.dashboard_milestone {
  padding: 0em 0em 0em 2em;
  text-align:left;
}

.dashboard_achieve_label {
  padding:0em 0em 0em 2em;
  color:$blue_text;
  font-size:12px;
  vertical-align:middle;
  text-align:left;
  line-height:2em;
}
.dashboard_bench_label {
  padding:1em 0em 0em 2em;
  color:$red_text;
  font-size:12px;
  vertical-align:middle;
  text-align:center;
  line-height:1.5em;
}

.dashboard_show_benchmarks {
  color:$blue_text;
  font-size:10px;
}
.dashboard_strand_header {
  padding:1em 0em 1em 0em;
  font-size:15px;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:normal;
}
.plan_lus_header {
  color:$blue_text;
  font-size:16px;
  text-align:center;
  font-weight:normal;
}
.plan_lus {
color:$blue_text;
font-size:12px;
text-align:center;
font-weight:normal;
}
.dashboard_list {
  margin: 0em 0em 0em 0em;
  color:$red_text;
  font-size:14px;
  text-align:left;
  font-weight:normal;
}
.dashboard_title_1 {
  margin: 1em 0em .5em 0em;
  font-size:15px;
  color:$blue_text;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
}
.dashboard_title_2 {
  margin: .5em 0em .5em 0em;
  font-size:13px;
  color:$blue_text;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:normal;
}
.dashboard_title_3 {
  margin: .5em 0em .5em 0em;
  font-size:15px;
  color:$blue_text;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:normal;
}
.dashboard_title_4 {
  margin: .5em 0em 0em 0em;
  font-size:13px;
  color:$blue_text;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
}
.dashboard_comment_header {
  margin: 1em 0em .5em 0em;
  font-size:11px;
  color:$blue_text;
  word-wrap:break-word;
  text-decoration:underline;
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
}
.dashboard_comment {
  font-size:11px;
  color:$blue_text;
  word-wrap:break-word;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
}
.dashboard_teacher {
  margin: 1em 0em 0em 0em;
  font-size:13px;
  color:$blue_text;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
}
.dashboard_title_dashboardable {
  padding: 1em 0em 0em 1em;
  font-size:13px;
  color:$dark_text;
  word-wrap:break-word;
  text-align:left;
  vertical-align:middle;
  font-weight:normal;
}