
@import "application-variables.scss";
@import 'bootstrap';

.repo_box {
  margin: 0em 2em 1em 2em;
  min-height:35em;
}

.repo_box_subtitle {
  margin: 1em 0em 1em 0em;
  font-size:15em;
  color:$blue_text;
}

.repo_select_row {
  margin: 1em 0em 1em 0em;
  font-size:15px;
  color:$blue_text;
}
.repo_label_field {
  padding-right:1em;
  text-align: right;
  font-size:14px;
  color:$dark_text;
}

.repo_select_field {
  float: left;
  font-size:14px;
  color:$dark_text;
}

.repo_edit_box {
  margin: 0em 0em 1em 0em;
  font-size: 14px;
}
.repo_edit_row {
  margin: .5em 0em .5em 0em;
}

.repo_text_field {
  float: left;
  color:$dark_text;
}

.repo_create_header {
  margin: .5em 0em 1.5em 0em;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  color:$red_text;
}