
@import "application-variables.scss";
@import 'bootstrap';

.repo_box {
  margin: 0em 2em 0em 2em;
  min-height:35em;
}

.repo_box_subtitle {
  margin: 1em 0em 1em 0em;
  font-size:15em;
  color:$blue_text;
}

.repo_select_row {
  margin: .5em 0em .5em 0em;
  font-size:15px;
  color:$blue_text;
}
.repo_label_field {
  padding-right:1em;
  text-align: right;
  font-size:14px;
  color:$dark_text;
}
.repo_button_row {
  margin:2.5em 0em .5em 1em;
  text-align: left;
  font-size:16px;
}

.repo_select_field {
  float: left;
  font-size:14px;
  color:$dark_text;
}

.repo_edit_box {
  margin: 0em 0em 0em 0em;
  font-size: 14px;
}
.repo_edit_row {
  margin: .5em 0em 1em 0em;
}

.repo_text_field {
  float: left;
  color:$dark_text;
}

.repo_create_header {
  margin: .5em 0em 1.5em 0em;
  text-align:center;
  font-size:16px;
  font-weight:bold;
  color:$red_text;
}
.repo_tags_box {
  padding:0em 0em 2em 0em;
}
.repo_panel {
  @extend .panel-heading;
  margin: 0em 0em 0em 0em;
  background-color: $panel_background_ifa_remarks;
  color:$light_text;
  text-align:left;
  vertical-align:middle;
  min-height:2.0em;
  font-size:16px;
}
.repo_header_label {
  font-weight:bold;
  text-align:center;
}
.repo_pool_header_label {
  font-weight:bold;
  text-align:center;
}
.repo_tag_row {
  color:$red_text;
  line-height:1.5em;
  text-align:center;
  font-size:14px;
}
.update_button {
  font-size:18px;
}
.new_choice_table {
  margin: 1em 1em 0em 1em;
  font-style:normal;
  font-size:12px;
  color: $dark_text;
}
.choice_table {
  margin: 1em 1em 0em 1em;
  font-style:normal;
  font-size:12px;
  color: $dark_text;
}
.choice_table_button {
  font-size:13px;
  text-align:center;
  vertical-align:middle;
}
.choice_table_header {
  text-align:center;
  vertical-align:middle;
}
.choice_table_correct {
  padding-left:2em;
  font-size:18px;
  text-align:center;
  vertical-align:middle;
}
.choice_table_position {
  padding-left:2em;
  font-size:15px;
  text-align:center;
  vertical-align:middle;
}
.rl_attachment_name {
  font-size:19px;
  color: $blue_text;
}
.rl_attachment_type {
  font-size:14px;
  color: $red_text;
}
.rl_table {
  margin: 1em 1em 0em 1em;
  font-style:normal;
  border:1px solid #ddd;
  font-size:13px;
  line-height:2em;
  color: $dark_text;
}

.rl_table_header {
  padding-top:.5em;
  padding-bottom:.5em;
  font-size:14px;
  color:$red_text;
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
}

.rl_table_button {
  font-size:13px;
  text-align:center;
  vertical-align:middle;
}
.rl_table_row {
  padding-top:.5em;
  padding-bottom:.5em;
  font-size:13px;
}
.question_pool_box {
  border:0px solid #ddd;
}
.question_pool_list {
  border:1px solid #ddd;
  margin: 2em 0em 1em 0em;
}

.question_pool_header {
  padding-top:.5em;
  padding-bottom:.5em;
  font-size:14px;
  color:$red_text;
  font-weight:bold;
  text-align:center;
  vertical-align:middle;
}
.question_pool_select {
  font-size:14px;
  color:$red_text;
  font-weight:normal;
}
.question_pool_text {
  padding-top:1em;
  padding-bottom:.5em;
  font-size:12px;
  color:$dark_text;
  font-weight:normal;
  text-align:left;
  vertical-align:top;
}
.question_pool_question {
  font-style: italic;
  font-size:14px;
  color:$red_text;
}
.question_pool_subject {
  padding-top:1em;
  line-height:1.5em;
  font-size:13px;
}
.question_pool_image {
  padding:1em 1em 1em 1em;
}
.question_pool_reading {
  padding-top:1em;
  line-height:1.5em;
  font-size:13px;
}
.question_pool_tags {
  padding-top:1em;
  line-height:1.5em;
}
.question_disabled {
  font-style: italic;
  font-size:11px;
  font-weight:bold;
  color:$red_text;
}
.preview_box {
  border:1px solid #ddd;
  margin: 0em 2em 0em 2em;
  min-height:35em;
}
.pool_check_box {
  padding:1.5em 0em .5em 0em;
}
.question_assessments {
  margin: 2em 0em 0em 0em;
  line-height:1.5em;
  font-size:16px;
  text-align:left;
  font-weight:normal;
  color:$blue_text;
}
.assessment_position {
  font-size:13px;
  text-align:left;
}