<div class='offering_logo_box'>
	<%- if @current_organization.logo.file? -%>
		<%= image_tag(@current_organization.logo.url) -%>
  <%- end -%>
</div>
<%- unless @current_organization.body.nil? || @current_organization.body.empty?-%>
  <div class='offering_logo_text'>
    <%= @current_organization.body.html_safe%>
  </div>
<%- end -%>