
	  <div id="comment_error_div">
		</div>
	  <table>
			<tr>
			  <td><label for="">&nbsp;</label></td>
			  <td><%= text_area_tag "comment[body]", nil, :rows => 5, :cols => 60 %></td>
			</tr>
			<tr>
				<td></td>
			  <td><%= submit_tag "Submit Comment" %></td>
			</tr>
		</table>
<% if @current_user -%>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		user = "<%= @current_user.first_name %>"
		jQ("#comment_user_name").val(user);
	})
</script>
<% end -%>