<div class="blog_box_warp">
	<div style="float:left; width:690px">
		<div class="mempro_box">	
			<h3>Create Blog Post</h3>
			<% error_messages_for(:blog_post) %>
			<% form_for :blog_post , @blog_post , :url=>{:controller => "site/blog_posts" , :action => "create" , :blog_id => @blog.public_id } do |@f| %>
			  <%= render :partial => "site/blog_posts/form" %>
			<% end %>
		</div>	
	</div>	
	<div class="mempro_box blogs_side_nav">
		<%= link_to "Blog Posts" , {:controller => "site/blogs" , :action => "show" , :blog_id => @blog.public_id}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>	
	</div>	
	<br style="clear:both" />	
</div>	
