
<div class="offering_students">
  <% if classroom.ifa_enabled? && classroom.act_subject%>
      <%= render :partial => "/apps/classroom/student_ifa", :locals => {:student => @current_user, :classroom => classroom, :current_period => current_period, :topic=>topic} %>
  <% end %>
  <% if false && classroom.homework_option?%>
    <div class="row ifa_assessment_row">
      <hr>
      <div class="col-md-4">
        <%= link_to "Homework", offering_homework_path(:organization_id => @current_organization, :classroom_id => classroom, :topic_id => topic), class: 'button_gray' %>
      </div>
    </div>
  <% end %>
</div>

