<div id="folder_content_panel_<%= folder.nil? ? '': folder.id.to_s%>" >
		<ul class='lu_resource_list'>
			<% (folder.nil? ? lu.unfoldered_resources : lu.resources_for_folder(folder)).each do |rc|-%>
				<% if rc.viewable_by_user?(@current_user ? @current_user : nil)-%>
          <li>
            <%= render :partial => "apps/shared/resource_view_box", :locals => {:resource => rc, :key => (rc.class.to_s + rc.public_id.to_s), :rsrc_title=>'', :btn_label=>'View', :button=>true}%>
            &nbsp;<%=rc.title%>
          </li>
					<br/>
				<% end -%>			
			<% end -%>
		</ul>
</div>





