
<div id="manage_students" style = "font-size:14px; font-weight:bold; color: #2061a5; padding-left:0px;">

				<center>Offering & Period Student Assignments</center>										

</div>	
	<%= render (:partial => "select_period", :locals => {:admin => admin}) %>	
	
	

