
<% if @current_user && @current_user.student_of_classroom?(classroom) -%>
  <div class= "row offering_unjoin_box">
    <%= link_to "Un-Join", offering_unjoin_path(:organization_id => @current_organization, :student_id=>@current_user, :classroom_id => classroom) %>
    <%= @current_user.last_name %>
  </div>
<% end -%>
<% if !classroom.viewable_by?(@current_user) %>
  <div class= "row offering_join_box">
    <div class="col-md-12 not_viewable">
      Private Offering: Content Not Viewable
    </div>
  </div>
<% end %>

<% if classroom.joinable_by?(@current_user) %>
  <%= render :partial => "apps/class_offering/join_classroom"  -%>
  <hr>
<% end %>

