
<div style = "font-size:14px; color: #000000;">

	<%= render :partial => "broadcast_app_survey", :locals=> {:admin=> @admin, :app => @app, :instruction=> @instruction, :survey => @survey, :notify => @notify, :anon => @anon} -%>

</div>

