<div id="sumry_brief" >
  <div class="row">
    <div class="col-md-10">
      <div class="summary_dashboards" id="dashboard_data">
        <% @subjects.each_with_index do |subj, idx|%>
          <div class="row summary_dashboard_row">
            <div class="col-md-3">
             <%= button_to  "Dashboards", ifa_org_analysis_path(:organization_id => @current_organization,:subject_id => subj.id), :style=> 'font-size:12px', :class => "btn btn-primary btn-xs" %>
            </div>
            <div class="col-md-9">
              <%=subj.name %>:&nbsp;
              <div style=" font-size: 11px; " >
                (<%= pluralize(@total_submissions[idx], ' Assessment') %>)
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
