<div class="formBox">
	<h2>Manual IFA Dashboard Update </h2>
<div class="Form clear">
<%= form_for(:dashboard_update, :url => ifa_manual_update_path(:update => true)) do |form| -%>

<div >
		<div class="FormRow submit_warp" style="padding-left:20px;" >
			<%= submit_tag "Update IFA Dashboards", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		<br/>
		</div>		
<br/>	
</div>
<p>
	 <% value = 0 %>
	 <%= text_field_tag "periods",  value,:size => 2,:class => "text"  %>
		&nbsp;	Enter Months Back For Update (0 => Current Month Only)
</p>
 	<input type="hidden" name="requester" value="CRUD" />
<br/><br/>
		<input type='radio' class="options_1" id='update_incremental' name='update_type' value='Incremental' checked/>
        <label for="update_incremental" >Incremental (Only Dashboards With New Data)</label>
		<input type='radio' class="options_1" id='update_full' name='update_type' value='Full' />
        <label for="update_full" >Full (Replace All Dashboards)</label>
<br/><br/>
		<input type='radio' class="options_2" id='update_type_User' name='entity_class' value='User' checked />
        <label for="search_type_User" >User Dashboards</label>
		<input type='radio' class="options_2" id='update_type_Classroom' name='entity_class' value='Classroom' />
        <label for="search_type_Classroom" >Classroom Dashboards</label>
		<input type='radio' class="options_2" id='update_type_Org' name='entity_class' value='Organization' />
        <label for="search_type_Org" >Organization Dashboards</label>

<% end -%>
</div>
</div>