<div id="mainContent">


	<table id="resource_levels" class="tablesorter" style="width:99%;">
			<tbody>  
				<% start_slot = Time.now.at_beginning_of_month -%>
				<% end_slot = Time.now.at_end_of_month -%>
				<% until end_slot < @first_date -%>
					<% answers = @subject_answers.select{|a| a.created_at >= start_slot && a.created_at <= end_slot} -%>
					<% month_sms = @current_standard.sms(answers, @current_subject.id, 0,0, @current_organization.id)-%>
					<% col_label = start_slot.strftime("%B, %Y") + ":&nbsp;&nbsp;&nbsp;&nbsp;" + pluralize(answers.size, ' Answer Choice') + ",&nbsp;&nbsp;&nbsp;&nbsp;Mastery Level: " + month_sms.to_s  -%>
					<tr>
						<td class="resource_levels_close">
						<%= link_to '', ifa_dashboard_entity_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :subject_id => @current_subject.id, :group => "student", :entity => @current_user, :begin_time => start_slot,  :end_time => end_slot) %>
						<strong><%= col_label %></strong>
						<span></span>
						</td>
					</tr>
					<% start_slot = start_slot - 1.months -%>
					<% end_slot = start_slot.at_end_of_month -%>
				<% end -%>
			</tbody>
	</table>

</div>

<br style="clear:both" />


<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#resource_levels .resource_levels_close').toggleResourceLevels();
	jQ('#resource_levels .resource_levels_open').toggleResourceLevels();	
  jQ("#resource_levels").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>