<div >

	<% unless @current_subject.act_questions.active.size.zero? || @current_provider.ifa_org_option.act_masters.size.zero? -%>

	<div id="assign_resources_panel">
		<table id="authorization_levels"    style="width:99%;">
			<tbody>
				<% @current_provider.ifa_org_option.act_masters.each do |mstr|%>
		<!--			<%# act_stds = ActStandard.find(:all, :conditions => ["act_master_id =? AND act_subject_id =?", mstr.id, @current_subject.id], :order => "abbrev") -%>  -->
          <% act_stds = ActStandard.for_standard_and_subject(mstr, @current_subject) -%>
						<% act_stds.each do |std| -%>
						<% col_label = mstr.abbrev + ": " + std.abbrev.upcase + ", " + std.act_questions.active.size.to_s + " Questions" -%>
						<tr>
							<td class="authorization_levels_close" style ="color:#C73914">
								<%= link_to '', ifa_standard_questions_list_path(:organization_id => @current_organization, :classroom_id => @classroom,  :std_id => std.id) %>
								<%= col_label %>
								<span></span>
							</td>
						</tr>
					<% end -%>
						<tr>
							<td style ="color:#000000">
								-----
							</td>
						</tr>					
					<% end -%>
			</tbody>
		</table>
	<br/>

	</div>

	<% else -%>	
		No Questions.
	<% end -%>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>