<div >
	<% unless @current_subject.act_assessments.active.size.zero? %>

		<div id="assign_resources_panel">
		<table id="ifa_levels"  class="tablesorter" style="width:99%;">
			<tbody> 
			<% mstr = @current_organization.ifa_org_option.act_masters.first -%>
				<% assessment_ranges = @current_subject.act_assessments.active.collect{|a| a.act_assessment_score_ranges.for_standard(mstr)}.flatten.sort_by{|ar| [ar.upper_score]}%>
				<% upper_scores = assessment_ranges.group_by(&:upper_score) %>
				<% upper_scores.each do |score, ranges| %>
				<% col_label = mstr.abbrev + " Upper Score: " + score.to_s + ",   <small>(" + pluralize(ranges.size," Active Assessment") + ")</small>" -%>
				<tr>
					<td class="ifa_levels_close" style ="color: #C83A14; font-size:12px">
						<%= link_to '', :controller => "apps/assessment", :action => :list_subject_assessments, :organization_id => @current_organization, :master_id => mstr.id, :subject_id => @current_subject.id, :upper_score => score %>
						<%= col_label %>
					</td>
				</tr>
				<% end -%>
				<tr>
					<td style ="color:#000000">
						-----
					</td>
				</tr>
			
			</tbody>
		</table>
		<br/>
		</div>
<% else -%>
	<br/>
	<span style ="color: #C83A14; font-size:11px">
	<center><i>* * *  There Are No Active <%= @current_subject.name.humanize %> Assessments  * * *</i></center>
	</span>
<% end -%>		

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#ifa_levels .ifa_levels_close').toggleIfaLevels();
	jQ('#ifa_levels .ifa_levels_open').toggleIfaLevels();
});
</script>