
  <div class = 'ifa_panel_list'>
    vvvvvv
	<% unless @reading_list.size.zero? %>
	<div >
		<table id="reading_list_levels"  class="tablesorter" style="width:99%;">
			<tbody>  
				<% gen_ids = @reading_list.group_by(&:act_genre_id) -%>
				<% gen_ids.each do |gi, readings| -%>
					<% genre_name = ActGenre.find(gi).name -%> 
					<% col_label = readings.size.to_s + " " + genre_name-%>
					<tr>
					<td class="authorization_levels_close" style ="font-size:12px; color:#C73914">
					<%= link_to '', ifa_related_reading_genre_show_path(:organization_id => @current_organization, :classroom_id => @classroom,  :subject_id => @current_subject.id, :genre_id => gi) %>
					<%= col_label %>
					<span></span>
					</td>
					</tr>
					<% end -%>
			</tbody>
		</table>
	<br/>

	</div>
<% else -%>
	<br/>
	<span style ="color: #C83A14; font-size:11px">
	<center><i>* * *  There Are No Related Readings In The Library At This Time  * * *</i></center>
	</span>
<% end -%>	
</div>
  <hr>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#reading_list_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#reading_list_levels .authorization_levels_open').toggleAuthorizationLevels();
});
</script>