
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:normal"> 

	<br/>
	<strong><center> <%= @student.full_name.upcase %><br/>Baseline Mastery Scores</center></strong>
	<br/><br/>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

    <%= render :partial => "/apps/assessment/student_baseline_scores" %>




