
<% form_tag({:action => :contact, :organization_id => @current_organization, :id => @user, :format => 'js'}, :multipart => true, :target => 'upload_frame') do -%>
<div class="Form clear">
	<div class="FormRow">
		<div class="FormRowTitle">Recipient</div>
		<div class="FormRowData">"<%= @user.full_name %>" <%= @user.preferred_email %></div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle">Sender Email</div>
		<div class="FormRowData"><input class="text" id="email_archive_sender_email" name="email_archive[sender_email]" size="30" type="text" /></div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle"></div>
		<div class="FormRowData">e.g. contact@yourdomain.com</div>
	</div>	
	<div class="FormRow">
		<div class="FormRowTitle">Subject *</div>
		<div class="FormRowData"><input class="text required" id="email_archive_subject" name="email_archive[subject]" size="30" type="text" /></div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle">Priority</div>
		<div class="FormRowData">
			<select id="email_archive_priority" name="email_archive[priority]">
				<option value="High">High</option>
				<option value="Medium" selected="selected">Medium</option>
				<option value="Low">Low</option>
			</select>
		</div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle">
			HTML Message<br />
			<a href="#" id="email_archive_html_body_show" style="display: none">Show HTML Markup</a>
			<a href="#" id="email_archive_html_body_hide">Hide HTML Markup</a>
		</div>
		<div class="FormRowData"><textarea class="mceEditor" cols="40" id="email_archive_html_body" name="email_archive[html_body]" rows="12"></textarea></div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle">Plain Text Message</div>
		<div class="FormRowData"><textarea class="mceNoEditor" cols="45" id="email_archive_plain_body" name="email_archive[plain_body]" rows="8"></textarea></div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle">Attachment</div>
		<div class="FormRowData">
			<input type="file" name="email_archive[attachment]" id="email_archive_email_archive" />
		</div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle"></div>
		<div class="FormRowData">Please Limit filesize of attachments to under 2 megabytes</div>
	</div>	
	<div class="FormRow" style="text-align:center;padding-top:20px;">
		<%= submit_tag "Send Email", :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
		<%= button_to "Cancel", {:update => "associates_panel", :url => {:controller => :associates, :action => :index, :organization_id => @current_organization}, :remote => true}, :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>
	</div>
</div>
<% end -%>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('.fsn-button').addUIStateClass();
		if (tinyMCE.getInstanceById("email_archive_html_body")) {
			initTinyMCE();
		} else {
			tinyMCE.execCommand("mceAddControl", false, 'email_archive_html_body');
		}
		var hide_tinyMCE = function() {
			tinyMCE.execCommand('mceRemoveControl', false, 'email_archive_html_body');
			jQ("#email_archive_html_body_hide").hide();
			jQ("#email_archive_html_body_show").show();			
			
		}
		var show_tinyMCE = function() {
			tinyMCE.execCommand('mceAddControl', false, 'email_archive_html_body');
			jQ("#email_archive_html_body_show").hide();
			jQ("#email_archive_html_body_hide").show();			
		}		
		jQ("#email_archive_html_body_hide").click(hide_tinyMCE);
		jQ("#email_archive_html_body_show").click(show_tinyMCE);
	})
	function ClearRichEditor(id) {
	    try {
	        tinyMCE.triggerSave();
	        tinyMCE.execCommand('mceFocus', false, id);
	        tinyMCE.execCommand('mceRemoveControl', false, id);
	    } catch (e) {}
	}
</script>