
/*
*    Color Palette settings    Search for 'palette' and change them
*/
/*    Lavish For CO_Aspen_2   */
$page_background: #f7f4ed;
$panel_background: #ffffff;
$light_text: #f7f4ed;
$dark_text: #333;
$h1_dark_text: #67655D;
$header_text: #00009a;
$blue_text: #0000a4;
$red_text: #a40a15;

/*    Lavish For CO_Aspen_2   */
/* $palette_1: #908C63;
$palette_2: #8A6F4E;
$palette_3: #978939;
$palette_4: #766356;
$palette_5: #82877F;
*/

/*    2KDK   */
/*$palette_1: #ccbbbb;
$palette_2: #bbcccc;
$palette_3: #999999;
$palette_4: #779999;
$palette_5: #333344;
*/

/*   grill-discount   */
/*
$palette_1: #fb4918;
$palette_2: #c8d200;
$palette_3: #0082a5;
$palette_4: #fb9800;
$palette_5: #3c342c;
*/

/*   bird 1   */
$palette_1: #f4ad64;
$palette_2: #3f7990;
$palette_3: #6da35c;
$palette_4: #cec038;
$palette_5: #ea7048;


/* navbar */
$navbar-background: #3c342c;

/* Main Page Carousel */
$carousel_1_height:  365px;

//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;
