/*
 * IE 7 Conditional Style Fixes
 * FaithStreams Communities Site
 *
 */

#login_bar form#login {
	padding-top:0 !important;
}

button.login {
	position:relative !important;
	top:5px !important;
}

#individuals {
	left: 35px !important;
	padding-left:12px !important;
}

#highlights #service_modules .module ul {
	line-height: 12px !important;
	text-indent: 10px !important;
	list-style-position: outside !important;
}

#highlights #service_modules .module ul li {
	margin: 10px 0 !important;
	text-indent: 12px !important;
}

#congregations {
	padding:0 15px !important;
	left:200px !important;
}

#congregations ul {
	position:relative;
	left:12px;
}

#congregations p#i_wing {
	position:relative !important;
	left:-8px !important;
}

#providers {
	padding-left:10px !important;
	left:512px !important;
}

#sidebar_nav a {
	width:204px !important;
}


