body { background-color: #ece9d8; font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }
#container { margin: 20px auto 0; width:780px; background-color: #fff; padding: 3em 0 2em 0; margin-bottom: 2em; }
#logo img { display: block; margin: 0 0 20px 5px; }
#register_step_1, #register_step_2, #register_step_3 { 
	background: url("/images/Religions_icons_left.jpg") no-repeat left 30px; 
}
#register_step_1 #warp, #register_step_2 #warp, #register_step_3 #warp { 
	background: url("/images/Religious_icons_right.jpg") no-repeat right 30px; 
	height: 600px;
}
#phone, #password, #invite { border-top: 1px dashed #999; border-bottom: 1px dashed #999; }
#register_step_1 #main_content { margin: 0 auto; width:480px; }
#register_step_1 #main_content, #register_step_2 #main_content, #register_step_3 #main_content { margin: 0 auto; width:540px; }
h1 { color:#3d6fb4; font: bold 30px/40px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }
#register_step_3 h2,
#register_step_2 h2 { color:#3d6fb4; font: bold 14px/20px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }
p, div.fieldRow { font-size: 12px; margin: 10px 0; clear:both; }
p em, div.fieldRow em { color:#f00; }
div.fieldRow label { float: left; width:130px; text-align: right; padding-right: 10px; }
.fieldWithErrors { display: inline; }
.submit { text-align: center; }
div.tip { font-size: 10px; padding-left: 140px; }
div.verify { padding-left: 120px; }
.register { margin-right: 40px; }
#register_step_3 ul { margin-left: 20px; font-size: 12px; color:#19203a; font-weight: bold; }
#register_step_3 ul li { line-height: 2em; }


/*==============================
		errorExplanation
===============================*/
/*.fieldWithErrors{
	padding:1px;
	background-color:red;
	display:table;
}*/
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin:10px auto;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin:10px 0px;
  text-align:left;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  text-align:left;
  list-style-position:inside;
}

