<br />
<h2>Add a Blog</h2>
<div class="mempro_box clear">
	<% form_remote_tag(:url => {:action => :create}) do -%>
		<%= render :partial => "form" %>
		<div  class="FormRow">
	    <div class="FormRowTitle">&nbsp;</div>
	    <div class="FormRowData">
	      <%= submit_tag "Add" ,:id => "save_button", :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
	      <%= button_to_remote "Cancel", {:before => "Element.show('loading')", :complete => "Element.hide('loading');", :url => {:controller => :blogs, :action => :cancel}}, {:class => "fsn-button ui-button ui-state-default ui-corner-all" }  %>
			</div>
	  </div>
	<% end %>	
</div>