<div class="ifa_plan_teacher_milestones_box ">
  <div class="row ifa_plan_teacher_milestone_header">
    <div class="ifa_plan_teacher_milestone_label">
      <%= pluralize(plan.milestones.size, ' Student Milestone') %>
    </div>
  </div>
  <% milestones.each do |milestone|%>
    <%= render :partial =>  "/apps/ifa_plan/teacher_show_milestone", :locals=>{:milestone => milestone} %>
  <% end %>
</div>