<div class="row ifa_milestone_data_row">
  <% nothing_to_show = true %>
  <% @assessments.each do |ass| %>
    <% if !total_assessment_answers(ass, :level => @range, :strand => @strand).empty?%>
      <div class="row ">
        <%= ass.created_at.strftime("%b %d, %Y")%>: <%= correct_assessment_answers(ass, :level => @range, :strand => @strand).size%> of
        <%= total_assessment_answers(ass, :level => @range, :strand => @strand).size%> &nbsp;Correct
        <% nothing_to_show = false %>
      </div>
    <% end %>
  <% end %>
  <% if nothing_to_show%>
      <div class="row ">
        No Data for this Milestone
      </div>
  <% end %>
</div>
