<div class= 'row resource_header'>
  <% button_label = "Download" %>
  <% past_verb = "View" %>
  <% unless @content.content_object_type.nil? -%>
      <% if [4,2,1].include?(@content.content_object_type.content_object_type_group_id)%><% button_label = "View"%> <% past_verb = "View" %> <% end %>
      <% if [3].include?(@content.content_object_type.content_object_type_group_id)%><% button_label = "Listen"%><% past_verb = "Listen"%> <% end %>
      <% if [5].include?(@content.content_object_type.content_object_type_group_id)%><% button_label = "View Link"%> <% past_verb = "View"%><% end %>
  <% end -%>
  <div class='col-md-1'></div>
  <div class='col-md-4'>
    <div class="resource_page_text">
      <%= render :partial => "static_resource_left", :locals=> {:content => @content} %>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="offering_title_text">
      <%= render :partial => "static_resource_right", :locals=> {:content => @content} %>
      <hr>
      <%= render(:partial => "resource") %>
    </div>
  </div>
  <div class='col-md-1'></div>
</div>
