
	<div class="FormRow submit_warp" style= "padding-left:25px">	
		<%= submit_tag button_label, :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
	<br/>
	</div>	

	


<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>
