<div id="elt_maintenance">
	<div style="text-align:center;  word-wrap:break-word; color:#2061a5;  font-size: 18px; font-style: normal; line-height:1.5em; font-weight: bold">
		Maintain&nbsp;Elements & Indicators<br/>
		<span class="fsn-button ui-button ui-state-default ui-corner-all">
			<%= link_to 'Add Element', elt_maint_element_add_path(:coop_app_id=>@current_application, :organization_id => @current_organization)  %>
		</span>
	</div>
	<% EltElement.all.each do |element| -%>
		<%= render :partial => "/apps/owner_maintenance/elt_element_table", :locals => {:element => element} %>
	<% end -%>
</div>







