<div id="clsrm_owner_maintenance">
	<br/>
    <span style="text-align:center; color: #C83A14; font-size:12px;  font-weight:normal">
      <br/></br/>
        No <%= @current_application.abbrev %>&nbsp;Maintenance Functions Available.
      ><br/></br/>
    </span>
  <br/>
</div>

