<div id="pd_owner_maintenance">

	<br/>
	<% if @current_user.app_superuser?(app)-%>	
			<span style="color: #C83A14; font-size:12px;  font-weight:normal">
				<br/></br/><center>
					No <%= @app.abbrev %>&nbsp;Maintenance Functions Available.
				</center><br/></br/>
			</span>
	<% else -%>
			<span style="color: #C83A14; font-size:12px;  font-weight:normal">
				<br/></br/><center>
					Not <%= @app.abbrev %>&nbsp;Authorized.
				</center><br/></br/>
			</span>
	<% end -%>
<br/>
</div>

