<div id="core_owner_maintenance">
	<br/>
		<table style="margin-left:150px; font-size:16px; font-weight:bold;  color: #2061a5; width:600px">
			<tbody >
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to 'Go', core_maint_children_path(:coop_app_id => @current_application) %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							 Maintain Child & Parent Organization Relationships
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to 'Go', core_maint_status_path(:coop_app_id => @current_application) %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							 Maintain Organization Statuses
					</td>
				</tr>
			</tbody>
		</table>
		</br/>
  <br/>
</div>

