
	<div style ="color: #2061a5; font-size:16px; margin-top:0px; padding-top:20px; font-weight:bold"> 
		<strong><center><%= @activity.name %>&nbsp;Indicator</center></strong>
	</div>
	
	<%= render :partial => "/shared/error_and_notice" %>

	
	<div class="Form clear">
		<% form_for(:elt_indicator, :url => {:controller => "/apps/owner_maintenance", :action => :elt_indicator_new, :organization_id => @current_organization, :elt_type_id=>@activity, :elt_indicator_id => @indicator, :app_id => @app.id, :task=>@task, :function => @task}) do |form| %>
		
			<%= render :partial => "/apps/owner_maintenance/elt_indicator_form", :locals=>{:button_label=> (@task == "New" ? "Create Indicator" : "Update"), :org=>@current_organization, :indicator => @indicator} %>
		
		<% end -%>	
		
		<% unless @task == "New" || @indicator.active?%>
			<% form_for(:elt_element, :url => {:controller => "/apps/owner_maintenance", :action => :elt_indicator_new, :organization_id => @current_organization, :elt_type_id=>@activity, :elt_indicator_id=>@indicator, :app_id => @app.id, :task=>@task, :function => "Destroy"}) do |form| %>
				<div class="FormRow submit_warp" style= "padding-left:25px; padding-bottom:20px">	
					<br/>
					<%= submit_tag "Destroy", :confirm => "Are you sure?", :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
					<br/>
				</div>			
			<% end -%>	
		<% end -%>
	</div>	

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>
