<div>
  <% form_tag({:controller => "admin/our_organization", :action => :update_profile, :organization_id => @organization}) do %>
      <%= render(:partial => "/master/organizations/profile") %>
      <br style="clear:both" />
      <%= submit_tag "Save" %>
  <% end -%>
</div>