<% form_remote_tag(:url => {:controller => "admin/our_organization", :action => :profile, :organization_id => org}, :update => "organization_account_panel", :html => {:id => :registration_form}) do %>
 <div id="organization_information" style="display:none; min-height:200px; margin-top:25px; float:left; ">
	<div style="text-align:left;"><%= render :partial => "/shared/error_and_notice" %></div>
	<%= render :partial => '/organizations/profile', :locals => {:org => org} %>
</div>
<% end %>
<div style="width:100%; float:left;  text-align:center; margin-top:10px;">
	<a id="hide_information" href="" class="fsn-button ui-button ui-state-default ui-corner-all" style="padding:3px; text-decoration:none;  margin:3px; font-size:12px; display:none;">Hide Organization Information</a>
	<a id="edit_information" href="" class="fsn-button ui-button ui-state-default ui-corner-all" style="padding:3px; text-decoration:none;  margin:3px; font-size:12px;">Edit Organization Information</a>	
	<a href="#" id="save_information" class="fsn-button ui-button ui-state-default ui-corner-all" style="padding:3px; text-decoration:none;  margin:3px; font-size:12px; display:none;">Save Information</a>
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery("#edit_information").click(function(event){
			showEditInformation();
			event.preventDefault();
		})
		
		jQuery("#hide_information").click(function(event){
			hideEditInformation();
			event.preventDefault();
		})	
			
		jQuery("#save_information").click(function(event){
			jQuery.post("/admin/our_organization/update_information/<%=org.public_id%>",
				jQuery("#registration_form").serialize(), function(data){
					jQuery("#organization_info_container").html(data);
					showEditInformation();					
				})
		})
		
		function showEditInformation(){
			jQuery("#hide_information").css("display","inline");
			jQuery("#organization_information").css("display","block");
			jQuery("#save_information").css("display","inline");			
			jQuery("#edit_information").css("display","none");								
		}
		
		function hideEditInformation(){
			jQuery("#edit_information").css("display","inline");
			jQuery("#organization_information").css("display","none");		
			jQuery("#save_information").css("display","none");							
			jQuery("#hide_information").css("display","none");
		}
		
		hideEditInformation();
	})
</script>