<div class="FormRow">
    <div class="FormRowTitle">&nbsp;</div>
    <div class="FormRowData">
      <ul>
      	<% unless @outreach_priorities.nil?  -%>
	        <%	@outreach_priorities.each do |outreach_priority| -%>
	        <li>
	          <input type="hidden" value="<%= outreach_priority.id %>" name="organization[outreach_priority_ids][]" />
	          <%= outreach_priority.name %> [<%= link_to "X", :controller => 'admin/our_organization', :action => :remove_outreach_priority, :organization_id => @organization, :id => outreach_priority.id %>]
	        </li>
	        <% end -%>
		<% end -%>
      </ul>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function() {
    jQ("#outreach_priorities_warp a").each(function() {
      jQ(this).click(function() {
        url = jQ(this).attr("href");
        jQ.post(url, {}, null, "script");
        return false;
      })
    })
  })
</script>