<div id="registration_notify">
	<div  style="margin:10px 0px 10px 0px;min-height:25px;">
			<table  style="width:250px;margin-left:0px;">
				<tbody>  
					<% button_label1 = @current_organization.register_notify? ? "button_enabled.png" : "button_disabled.png" %>
					<% button_label2 = @current_organization.register_notify? ? "ON" : "OFF" %>
					<tr>
						<td width=25px style="vertical-align:top;  padding-left:5px; padding-right:0px; padding-top:4px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<%= link_to (image_tag button_label1, :width => 15), {:controller => "admin/our_organization", :action => "toggle_notification", :organization_id => @current_organization, :registration=>true}, :class => "toggle_note" %>
						</td>					
						<td width=225px style="vertical-align:top;  padding-left:0px; padding-right:0px; vertical-align:middle; text-align:left; color: #000000; font-size:11px; font-weight:normal">
							Registration Notifications <%= button_label2 %>
						</td>
					</tr>
				</tbody>
			</table>
			<table  style="width:250px;margin-left:0px;">
				<tbody>  
					<% button_label1 = @current_organization.content_notify? ? "button_enabled.png" : "button_disabled.png" %>
					<% button_label2 = @current_organization.content_notify? ? "ON" : "OFF" %>
					<tr>
						<td width=25px style="vertical-align:top;  padding-left:5px; padding-right:0px; padding-top:4px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<%= link_to (image_tag button_label1, :width => 15), {:controller => "admin/our_organization", :action => "toggle_notification", :organization_id => @current_organization, :content=>true}, :class => "toggle_note" %>
						</td>					
						<td width=225px style="vertical-align:top;  padding-left:0px; padding-right:0px; vertical-align:middle; text-align:left; color: #000000; font-size:11px; font-weight:normal">
							Resource Change Notifications <%= button_label2 %>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_note').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
			jQ("#registration_notify").html(data); 
	   		jQ("#registration_notify").show();
			})
			return false;
	})
});
</script>
</div>