<div class="clear">
  <table style="float:left; width:100%; border_width:1px">
    <tbody>
      <tr>
        <td style="width:45%">
          <%= render :partial => "/admin/our_organization/organization_logo" %>
        </td>
        <td style="width:55%">
          <%= render :partial => "/admin/our_organization/organization_colors", :locals => {:organization => @current_organization} %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
