<div class="clear">
  <div id="organization_notify_container" style="float:left;">
   <%= render :partial => "/admin/our_organization/organization_logo" %>

    <%= render :partial => "/admin/our_organization/organization_colors", :locals => {:organization => @current_organization} %>
  </div>
</div>
