<div class="clear">
  <%= render :partial => "admin/our_organization/registration_notify" %>

  <%= render :partial => "admin/our_organization/organization_logo" %>
  <div id="organization_notify_container" style="float:left;">
    <%= render :partial => "admin/our_organization/organization_form" %>
    <!--
    <%#= render :partial => "admin/our_organization/organization_information" %>
    -->
  </div>
</div>

