<div class="clear">
  <div id="organization_notify_container" style="float:left;">
    <%= render :partial => "/admin/our_organization/registration_notify" %>
    <%= render :partial => "/admin/our_organization/registration_allow" %>
    <%= render :partial => "/admin/our_organization/organization_form" %>
  </div>
</div>
