<div class="topics_panel_title clear" style ="font-weight:bold;color:#2061a5; font-size:14px;">

<center><%= @current_organization.short_name%> Provider Solutions</center>

	<%= render :partial => "/admin/our_organization/provider_apps"%>


</div>



