<div class="topics_panel_title clear" style ="text-align:center; font-weight:bold;color:#2061a5; font-size:14px;">
  <%= @current_organization.short_name%> Provider Solutions
	<%= render :partial => "/admin/our_organization/provider_apps"%>
</div>



